<div class="art_message_co <%= className %>">
    <div class="art_message">
        <%= message %>
    </div>
    <div class="art_message_action">
        <button class="art_btn art_gree_btn waves-effect" onclick="closeMessage(event,'.art_message_co')"><em class="material-icons">close</em></button>
    </div>
</div>