<div class="art-second-footer ">
    <div class="container">
        <p> &COPY;

            <%= new Date().getFullYear() %>
                <%= lang_("@company_title") %>
        </p>
    </div>
</div>