<%- include('./_nav.ejs') %>
    <main>
        <section class="blog">
            <div class="blog__content">
                <div class="blog__content__header">
                    <h2 class="blog__content__title">Why You need GPS trackers ?</h2>
                    <p class="blog__content__date"><span> Published Jan 18</span></p>
                </div>

                <div class="blog__content__contentbody">

                    <div class="blog__content__img">
                        <img class="blog__content__pic" src="<%= path %>assets/img/blog/Blogimg.jpg" alt="blog preview">
                    </div>

                    <p class="blog__content__blogcontent">
                        <span>
                    It’s safe to say that cars are a part of life for most Kenyans. Not only do 90% of all households use a vehicle to move from point A to B but most of them use it more than once. With that in mind, protecting our cars is a must. <br>
                    <br>
                    This applies to individuals in different sectors and work life. From someone who works in an industry where employees rely on a fleet of vehicles to deliver goods, matatu in the transport sector, car hire and leasing services, tours and travels et cetera. <br>
                    <br>
                    You have probably heard about the benefits of GPS tracking. But for one reason or another, you are yet to implement the system in your own company. We understand that your employees may have a negative reaction to their vehicle being tracked, or that it’s a new system that requires some monetary investment to get started and some time to get used to, but the benefits are huge to both stakeholders <br>
                    <br>
                    Perhaps it’s now time to give GPS tracking solutions a real shot! And here’s why:<br>
                    <br>
                   <strong> 1. Track Your Fleet <br></strong>
                    <br>
Whether your business is located in Nairobi or Mombasa, or if it’s a national company that delivers goods from Mombasa to Kisumu or Eldoret, you should always be able to tell exactly where each of your vehicles is located at any given time. GPS tracking solutions from Togree use satellite signals in order to provide exact locations, it monitors where the vehicle is if it’s on the right route, and fuel consumption. With this information productivity and efficiency will be on the rise, allowing you to provide better service for your customers or clients.
                </span>
                    </p>

                </div>

                <div class="blog__content__blogbtns">
                    <a href="#"><i class="lni lni-twitter-original"></i></a>
                    <a href="#"><i class="lni lni-facebook-original"></i></a>
                    <a href="#"><i class="lni lni-linkedin-original"></i></a>
                    <a href="#"><i class="lni lni-whatsapp"></i></a>
                </div>


            </div>
            <div class="blog__sidebar">

                <h3 class="blog__sidebar__title">Related Contents</h3>

                <div class="blog_sidebar__blogwrapper" id="blogwrapper">

                    <!-- <div class="blog__sidebar__cards">
                <div class="blog__sidebar__cards__img">
                    <img class="blog__sidebar__cards__pic" src="../assets/img/blog/Blogimg.jpg" alt="relatedcontent">
                </div>

                <div class="blog__sidebar__cards__links">
                    <a class="blog__sidebar__cards__link" href="#"><span>Why you need Asset Trackers 2021 GPS tracker reports</span></a>
                </div>
            </div>

            <div class="blog__sidebar__cards">
                <div class="blog__sidebar__cards__img">
                    <img class="blog__sidebar__cards__pic" src="../assets/img/blog/Blogimg.jpg" alt="relatedcontent">
                </div>
                <div class="blog__sidebar__cards__links">
                    <a class="blog__sidebar__cards__link" href="#"><span>Why you need Asset Trackers 2021 GPS tracker reports</span></a>
                </div>
            </div>

            <div class="blog__sidebar__cards">
                <div class="blog__sidebar__cards__img">
                    <img class="blog__sidebar__cards__pic" src="../assets/img/blog/Blogimg.jpg" alt="relatedcontent">
                </div>
                <div class="blog__sidebar__cards__links">
                    <a class="blog__sidebar__cards__link" href="#"><span>Why you need Asset Trackers 2021 GPS tracker reports</span></a>
                </div>
            </div> -->

                </div>


            </div>

        </section>
    </main>
    <%- include('./_footer.ejs') %>