<%- include('./_nav_v2.ejs') %>
    <main>

        <div class="container art_container">

            <div class="shop__sidebar">




                <div class="shop__sidebar__category">
                    <div class="shop__sidebar__category__header">
                        <h5>CATEGORY</h5>
                    </div>
                    <ul class="art_cart_options">
                        <li class="art_cart_option shop__sidebar__category__subheader">
                            <a href="#!" class="art_link waves-effect">Asset GPS Trackers</a>
                        </li>
                        <li class="art_cart_option shop__sidebar__category__subheader">
                            <a href="#!" class="art_link waves-effect">Vechicle GPS Trackers</a></li>
                        <li class="art_cart_option shop__sidebar__category__subheader">
                            <a href="#!" class="art_link waves-effect">Personal Trackers</a></li>
                        <li class="art_cart_option shop__sidebar__category__subheader">
                            <a href="#!" class="art_link waves-effect">Camera</a></li>
                    </ul>

                </div>

                <div class="art_divider"></div>

                <div class="shop__sidebar__price">
                    <div class="shop__sidebar__price__header">
                        <h5>PRICE</h5>
                        <div class="art_apply_price">
                            <a href="#!" class="shop__sidebar__price__titlecontainer__title art_btn waves-effect" id="apply">Apply</a>
                        </div>

                    </div>

                    <div class="shop__sidebar__price__range">
                        <div id="test-slider"></div>
                    </div>

                    <div class="shop__sidebar__price__slidernum">

                        <div class="art_input_co">
                            <input class="art_input" type="number" id="mininput">
                        </div>
                        <div class="shop__sidebar__price__slidernum__seperator"></div>

                        <div class="art_input_co">
                            <input class="art_input" type="number" id="maxinput">
                        </div>

                    </div>


                </div>

            </div>

            <section class="shop">

                <div class="shop__products" id="shopproduct">
                    <div class="shop__products__header" id="iconheader">
                        <!-- list item icon -->
                        <button class="art_btn shop__products__header__iconwrapper" id="listitem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="1" y="2" width="8" height="8" ry="1"></rect>
                                <rect x="12" y="2" width="10.5" height="2" ry="1" ></rect>
                                <rect x="12" y="6" width="10.5" height="2" ry="1" ></rect>
                                <rect x="12" y="14" width="10.5" height="2" ry="1" ></rect>
                                <rect x="12" y="18" width="10.5" height="2" ry="1" ></rect>
                                
                                <rect x="1" y="14" width="8" height="8" ry="1" ></rect>
                            </svg>
                        </button>

                        <!-- grid item icon -->
                        <button class="art_btn shop__products__header__iconwrapper  active" id="griditem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="1" y="3" width="8" height="8" ry="1"></rect>
                                <rect x="14" y="3" width="8" height="8" ry="1"></rect>
                                <rect x="14" y="14" width="8" height="8" ry="1"></rect>
                                <rect x="1" y="14" width="8" height="8" ry="1"></rect>
                            </svg>
                        </button>
                        <!-- category btn for mobile -->
                        <div class="shop__products__header__iconwrapper" id="category">
                            <em class="fas fa-sort-amount-down-alt shop__products__header__icons"></em>
                        </div>
                    </div>

                    <div class="shop__products__productwrapper" id="shop_product_wrapper"></div>
                </div>

            </section>
        </div>
    </main>