<%- include('./_nav_v2.ejs') %>
    <main>

        <div class="container art_container">

            <section class="shop">

                <div class="shop__products" id="shopproduct">
                    <div class="shop__products__header" id="iconheader">
                        <!-- list item icon -->
                        <button class="art_btn shop__products__header__iconwrapper" id="listitem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="1" y="2" width="8" height="8" ry="1"></rect>
                                <rect x="12" y="2" width="10.5" height="2" ry="1" ></rect>
                                <rect x="12" y="6" width="10.5" height="2" ry="1" ></rect>
                                <rect x="12" y="14" width="10.5" height="2" ry="1" ></rect>
                                <rect x="12" y="18" width="10.5" height="2" ry="1" ></rect>
                                
                                <rect x="1" y="14" width="8" height="8" ry="1" ></rect>
                            </svg>
                        </button>

                        <!-- grid item icon -->
                        <button class="art_btn shop__products__header__iconwrapper " id="griditem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="1" y="3" width="8" height="8" ry="1"></rect>
                                <rect x="14" y="3" width="8" height="8" ry="1"></rect>
                                <rect x="14" y="14" width="8" height="8" ry="1"></rect>
                                <rect x="1" y="14" width="8" height="8" ry="1"></rect>
                            </svg>
                        </button>
                        <!-- category btn for mobile -->
                        <button class="art_btn shop__products__header__iconwrapper" id="category">
                            <em class="fas fa-sort-amount-down-alt shop__products__header__icons"></em>
                        </button>
                    </div>

                    <div class="shop__products__productwrapper" id="shop_product_wrapper"></div>
                </div>

            </section>

        </div>
    </main>