@keyframes revForw_R {
    0% {
        transform: translate( -2px, 0) rotate(-180deg);
        -webkit-transform: translate( -2px, 0) rotate(-180deg);
        -moz-transform: translate( -2px, 0) rotate(-180deg);
        -ms-transform: translate( -2px, 0) rotate(-180deg);
        -o-transform: translate( -2px, 0) rotate(-180deg);
        opacity: 0.8;
    }
    100% {
        transform: translate( 3px, 0) rotate(-180deg);
        -webkit-transform: translate( 3px, 0) rotate(-180deg);
        -moz-transform: translate( 3px, 0) rotate(-180deg);
        -ms-transform: translate( 3px, 0) rotate(-180deg);
        -o-transform: translate( 3px, 0) rotate(-180deg);
        opacity: 0.4;
    }
}