    .about-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        min-height: 75vh;
        background-image: linear-gradient( rgba(64, 102, 64, 0.5)), url(../img/Aboutus/parking.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 12% 0;
        margin-top: 4pc;
        .about-nav {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.23);
            position: fixed;
            top: 0;
            z-index: 10;
            -webkit-filter: blur(10);
            filter: blur(10);
            .art_nav-right {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: auto;
                min-width: 45%;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                .art-brand {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: auto;
                    height: auto;
                    img {
                        width: auto;
                        padding: 0;
                        margin: 0;
                        min-width: auto;
                    }
                }
                .art-top-links {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    li {
                        display: inherit;
                        width: auto;
                        a {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            color: #656565;
                        }
                    }
                }
            }
            .art_nav-left {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                margin-right: 60px;
                #head_search_form {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    max-width: 0;
                    overflow: hidden;
                    // background: rgba(240, 248, 255, 0.49);
                    .art_input_co {
                        height: auto;
                        max-height: 40px;
                        overflow: hidden;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        background-color: rgba(255, 255, 255, 0.859);
                        margin: auto;
                        border-radius: 4em 4em;
                        .art_under_search {
                            background: transparent;
                            border: 0;
                            color: #d2d2d2;
                            padding: 1px 6px;
                            font-size: 100%;
                            line-height: 1.15;
                            margin: 0;
                        }
                        .art_input {
                            border: 0;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            margin: auto;
                            border-bottom: 0;
                        }
                        .art_submit_search {
                            background: transparent;
                            border: 0;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
                .art_btn {
                    border: 0;
                    background: rgba(0, 245, 0, 0);
                    color: #707070;
                    text-align: center;
                    margin: 0 15px;
                    cursor: pointer;
                    i {
                        line-height: 47px;
                        font-size: 30pt;
                    }
                }
                .dropdown-trigger {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    i {
                        line-height: inherit;
                        font-size: 21pt;
                        margin: auto;
                        height: auto;
                    }
                }
            }
            .dropdown-content {
                top: 101% !important;
                width: auto !important;
                height: auto !important;
                -webkit-box-shadow: 0 2px 10px #607d8b6b;
                box-shadow: 0 2px 10px #607d8b6b;
                border-radius: 0 0 10px 10px;
                border: 0;
                a {
                    color: #607D8B;
                    transition: .3s linear;
                    -webkit-transition: .3s linear;
                    -moz-transition: .3s linear;
                    -ms-transition: .3s linear;
                    -o-transition: .3s linear;
                    &:hover {
                        background-color: rgb(0, 155, 78);
                        color: aliceblue;
                    }
                }
            }
        }
        //     .art-head-sec {
        //         width: 90%;
        //         .art_head_title {
        //             width: 18%;
        //             margin: auto auto auto 60px;
        //         }
        //         .art_head_desc {
        //             width: 28%;
        //             margin: auto auto auto 60px;
        //         }
        //     }
        //     .art_head_act {
        //         width: 28%;
        //         margin: auto auto auto 60px;
        //         display: -webkit-box;
        //         display: -ms-flexbox;
        //         display: flex;
        //     }
        //     .art-head-social {
        //         width: 5%;
        //         display: -webkit-box;
        //         display: -ms-flexbox;
        //         display: flex;
        //         -webkit-box-orient: vertical;
        //         -webkit-box-direction: normal;
        //         -ms-flex-direction: column;
        //         flex-direction: column;
        //         height: 72%;
        //         -webkit-box-pack: justify;
        //         -ms-flex-pack: justify;
        //         justify-content: space-between;
        //         margin: -104px 0 auto;
        //         .art-social-icon {
        //             margin: auto auto 30px;
        //             cursor: pointer;
        //             width: auto;
        //             background-color: #ffffff45;
        //             padding: 12px;
        //             border-radius: 5em;
        //             max-width: 50px;
        //             max-height: 50px;
        //             overflow: hidden;
        //             /* box-shadow: 0 0 10px #607d8b36;*/
        //             &:hover img {
        //                 -webkit-filter: grayscale(0);
        //                 filter: grayscale(0);
        //             }
        //             img {
        //                 -webkit-filter: grayscale(137);
        //                 filter: grayscale(137);
        //             }
        //         }
        //     }
    }
    
    .abouthero {
        max-width: 30%;
        position: absolute;
        right: 0;
        margin-right: 200px;
        text-align: right;
        color: #FFFFFF;
        &__title {
            font-size: 4rem;
            font-weight: 700;
        }
        &__text {
            font-size: 1.1rem;
        }
        &__btn {
            padding: 20px 40px;
            box-sizing: border-box;
            border: none;
            background: #24C347;
            color: #fffffF;
            font-size: 1.4rem;
            border-radius: 10px;
        }
        &__arrow {
            font-size: 1.4rem;
            margin-left: 10px;
        }
    }
    
    .aboutstory {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px 200px;
        color: #656565;
        &__title,
        &__datetitle {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 600;
        }
        &__text {
            margin-bottom: 40px;
        }
        &__datebox {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__circlewrapper {
            margin-top: 30px;
            margin-bottom: 100px;
            width: 100%;
            justify-content: space-around;
            display: flex;
        }
        &__circlecontainer {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: transparent;
        }
        &__circle {
            height: 20px;
            width: 20px;
            border-radius: 100%;
            background: #24C347;
            margin-bottom: 30px;
        }
        &__circle:before {
            position: absolute;
            margin-top: 10px;
            content: "";
            height: 1px;
            width: 100vw;
            align-self: center;
            width: 210px;
            background: #24C347;
            z-index: -1;
        }
        &__circle.last__circle:before {
            background: transparent;
        }
        &__circle.second__circle:before {
            width: 212px;
        }
        &__circletitle {
            font-size: 1.2rem;
            font-weight: 600;
        }
        &__circlesubtitle {
            font-size: 1rem;
            padding: 0 20px;
            text-align: center;
        }
    }
    
    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 90px;
        background: #F8F8F8;
        &__title {
            font-size: 1.8rem;
            font-weight: 600;
            color: #656565;
        }
        &__profilewrapper {
            display: flex;
            justify-content: space-evenly;
            margin-top: 60px;
        }
        &__profilecontainer {
            display: flex;
            border-radius: 15px;
            max-height: 500px;
            max-width: 450px;
            background: #FFF;
            box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.25);
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            transition: transform .5s;
            -webkit-transition: transform .5s;
            -moz-transition: transform .5s;
            -ms-transition: transform .5s;
            -o-transition: transform .5s;
            &:hover {
                transform: scale3d(1.006, 1.006, 1);
                -webkit-transform: scale3d(1.006, 1.006, 1);
                -moz-transform: scale3d(1.006, 1.006, 1);
                -ms-transform: scale3d(1.006, 1.006, 1);
                -o-transform: scale3d(1.006, 1.006, 1);
            }
        }
        &__profileimage {
            border-radius: 15px 0 0 15px;
            height: 100%;
            width: 35%;
            background-image: url(../img/Aboutus/CEO.png);
            background-position: center;
            background-size: cover;
            -webkit-border-radius: 15px 0 0 15px;
            -moz-border-radius: 15px 0 0 15px;
            -ms-border-radius: 15px 0 0 15px;
            -o-border-radius: 15px 0 0 15px;
            &.cfo {
                background-image: url(../img/Aboutus/cfo.png);
                background-repeat: no-repeat;
            }
            &.cco {
                background-image: url(../img/Aboutus/cco.png);
            }
            &.internal {
                background-image: url(../img/Aboutus/internal.png);
            }
            &.designer {
                background-image: url(../img/Aboutus/Designer.png);
            }
            &.ict {
                background-image: url(../img/Aboutus/ICT.png);
            }
        }
        &__profilecontent {
            width: 65%;
            padding: 0 16px;
            color: #646464;
        }
        &__profiletitle {
            font-size: 1.2rem;
            font-weight: bold;
        }
        &__profileposition {
            margin-top: 10px;
            font-size: 0.9rem;
            font-weight: bold;
        }
        &__profiletext {
            padding-right: 30px;
            font-size: 0.8rem;
        }
        &__profilesocialbtns {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: 20px;
        }
        &__profilesocialbtn {
            height: 20px;
            width: 24px;
        }
        &__btncontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 30px;
        }
        &__btn {
            border: none;
            margin-top: 50px;
            padding: 20px 40px;
            color: #fff;
            background-color: #24C347;
            font-size: 1.2rem;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
    
    .corevalue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 160px;
        color: #656565;
        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &__title {
                font-size: 2rem;
                font-weight: 600;
                color: #656565;
            }
            &__contentwrapper {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 30px 0;
            }
            &__contentcontainer {
                margin-top: 20px;
                padding: 20px;
                max-width: 400px;
                max-height: 500px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__image {
                max-height: 218px;
                max-width: 360px;
            }
            &__contenttitle {
                font-size: 2rem;
                font-weight: 600;
            }
            &__contentsubtitle {
                font-size: 1rem;
            }
            &__divider {
                margin-left: 30px;
                margin-right: 30px;
                height: 450px;
                width: 1px;
                background-color: #b5b5b5;
            }
        }
        &__visioncontainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px 120px;
            &__mission {
                width: 40%;
                height: 80%;
            }
            &__missiontitle,
            &__visiontitle {
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
                margin-bottom: 30px;
            }
            &__missionsubtitle,
            &__visionsubtitle {
                font-size: 1.6rem;
            }
            &__divider {
                margin-left: 30px;
                margin-right: 30px;
                height: 450px;
                width: 1px;
                background-color: #b5b5b5;
            }
            &__vision {
                width: 40%;
                height: 80%;
            }
        }
    }
    
    .joinus {
        position: relative;
        background: linear-gradient( to bottom right, rgba(195, 160, 36, 1), rgba(36, 195, 71, 1));
        background-size: cover;
        background-position: center;
        max-height: 250px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 120px;
        color: #FFF;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            background-image: url(../img/Aboutus/joinusbackground.png);
            background-position: center;
            background-size: cover;
            width: 100vw;
            height: 100%;
            z-index: 1;
            display: flex;
        }
        &__pic {
            margin-bottom: 80px;
        }
        &__content {
            width: 50%;
        }
        &__pretitle {
            margin: 5px 0;
            font-size: 1.1rem;
            font-weight: 600;
        }
        &__title {
            margin: 0;
            font-size: 2rem;
            font-weight: 700;
        }
        &__subtitle {
            font-size: 1rem;
        }
        &__btn {
            border: none;
            padding: 16px 40px;
            color: #24C347;
            background-color: #fff;
            font-size: 1.2rem;
            border-radius: 10px;
            font-weight: 700;
        }
    }
    
    .socialmedia {
        padding: 20px 120px;
        &__container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        &__btns {
            padding: 80px 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            &__pic {
                max-height: 100px;
                max-width: 100px;
            }
        }
        &__content {
            width: 40%;
            color: #656565;
            &__title {
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }
    
    .blackbar {
        height: 30vh;
        background-image: url(../img/Aboutus/blackbar.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }