@import "./media-queries";
// @import "./globals";
@import "./globals-vars";
@import "./mixins.scss";
html {
    @include mobile {
        font-size: 0.95rem;
    }
    @include laptop {
        font-size: 10pt;
    }
    @include laptop_L {
        font-size: initial;
    }
    @include laptop_W {
        font-size: initial;
    }
}

body {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .art_gree_btn {
        &.filled {
            -webkit-box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
            box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
            &:hover {
                -webkit-box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.2);
                box-shadow: 0 3px 5px 0 hsla(0, 0%, 0%, 0.2);
            }
            &:active {
                -webkit-box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
                box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
            }
        }
    }
    .product-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        min-height: 75vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 0;
        margin-top: 0;
        background: rgba(3, 14, 21, 0.929);
        background-image: url("../img/product/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: aliceblue;
        @include mobile {
            min-height: auto;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            padding-bottom: 10pc;
        }
        @include tablet {
            min-height: 45vh;
            -webkit-box-align: initial;
            -ms-flex-align: initial;
            align-items: initial;
            padding-bottom: 0;
        }
        @include laptop {
            min-height: 45vh;
            color: #0b222d;
        }
        @include laptop_L {
            min-height: 45vh;
            color: #fff;
        }
        .art_product_cat_desc {
            width: 35%;
            // color: aliceblue;
            padding: 0;
            @include mobile {
                width: 100%;
                padding: 20px;
            }
            @include tablet {
                width: 70%;
                padding: 20px 0;
            }
            @include laptop {
                width: 50%;
                padding: 20px;
                // background: hsla(122, 81%, 6%, 0.569);
                background: hsla(0, 0%, 100%, 0.949);
                // color: #0b222d;
            }
            @include laptop_L {
                width: 45%;
                padding: 20px;
                background: hsla(122, 81%, 6%, 0.569);
                background: hsla(0, 0%, 100%, 0);
                // color: #fff;
            }
            @include laptop_L {
                width: 30%;
                padding: 20px;
                background: hsla(122, 81%, 6%, 0.569);
                background: hsla(0, 0%, 100%, 0);
                color: #fff;
            }
        }
        .art_product_cat_img {
            width: 45%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            @include mobile {
                &.art_v2 {
                    width: 90%;
                    position: absolute;
                    bottom: -18px;
                    z-index: 1;
                    background: rgba(255, 255, 255, 0.871);
                    margin: auto;
                    border-radius: 10px;
                    -webkit-box-shadow: 0px 2px 2px 0 #e8f2fb;
                    box-shadow: 0px 2px 2px 0 #e8f2fb;
                }
                width: 0;
                max-width: 0;
                max-height: 0;
            }
            @include laptop {
                width: 50%;
                max-width: initial;
                max-height: initial;
                background: hsla(122, 39%, 49%, 0.322);
                background: hsla(150, 100%, 30%, 0.71);
            }
            @include laptop_L {
                width: 45%;
                max-width: initial;
                max-height: initial;
                background: hsla(122, 39%, 49%, 0.322);
                background: hsla(150, 100%, 30%, 0);
            }
            @include laptop_W {
                width: 30%;
                max-width: initial;
                max-height: initial;
                background: hsla(122, 39%, 49%, 0.322);
                background: hsla(150, 100%, 30%, 0);
            }
            img {
                width: 100%;
                max-width: 100%;
            }
            .art_product_cat_img {
                width: 75%;
                margin: 0 auto 0 0;
                background: none;
                @include mobile {
                    width: 75%;
                    margin: 0 auto 0 0;
                }
                @include laptop {
                    margin: 0 auto 0 0;
                    width: 75%;
                }
                @include laptop_L {
                    width: 65%;
                    margin: 0 auto;
                }
            }
        }
        .art-head-social {
            @include mobile {
                max-width: 0;
                max-height: 0;
                overflow: hidden;
            }
            @include tablet {
                max-width: initial;
                max-height: initial;
                overflow: hidden;
            }
        }
    }
    .art_desc_product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        min-height: 30vh;
        // background: #fdf2e3;
        background: #fff;
        .art_desc_product_co {
            width: 60%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 5pc 10px 0;
            margin: 0 auto;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            @include mobile {
                width: 95%;
                margin-top: -16pc;
            }
            @include tablet {
                width: (100% / 1);
                margin-top: 0;
            }
            @include laptop {
                width: 90%;
                margin-top: 0;
            }
            @include laptop_L {
                width: 80%;
                margin-top: 0;
            }
            @include laptop_W {
                width: 60%;
                margin-top: 0;
            }
            .art_desc_product_d2_co {
                width: 40%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                // -ms-flex-wrap: wrap;
                // flex-wrap: wrap;
                //background: #e0efef;
                margin: 0 0 auto;
                padding: 0;
                position: relative;
                border-radius: 8px;
                overflow: hidden;
                @include mobile {
                    width: 100%;
                }
                @include tablet {
                    width: (100% / 1);
                }
                @include laptop {
                    width: (100% / 2);
                }
                @include laptop_L {
                    width: ((100% / 2) - 10);
                }
                .art_desc_product_imgs_co {
                    width: 100%;
                    // width: 600px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    background: #e0efef;
                    margin: 0 0 auto;
                    padding: 0;
                    position: relative;
                    border-radius: 8px;
                    // min-height: 24vh;
                    // max-height: 55vh;
                    // overflow: hidden;
                    @include mobile {
                        background: #fff;
                    }
                    @include laptop {
                        background: #ffffff;
                    }
                    .art_desc_product_img {
                        outline: none;
                    }
                    .art_slick_btn {
                        display: none !important;
                        position: absolute;
                        top: 45%;
                        &.next {
                            right: 8px;
                        }
                        &.prev {
                            left: 8px;
                        }
                        @include mobile {
                            display: none !important;
                        }
                        @include tablet {
                            display: block !important;
                        }
                        @include laptop {
                            display: none !important;
                        }
                    }
                    &:hover {
                        .art_slick_btn {
                            display: block !important;
                        }
                    }
                    .slick-list {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        width: 100%;
                        overflow: hidden;
                        @include mobile {
                            width: 100%;
                        }
                        @include tablet {
                            width: 60%;
                        }
                        @include laptop {
                            width: 100%;
                        }
                        .slick-track {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                        }
                    }
                    .art_desc_product_img {
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
            .art_desc_product_details_co {
                width: 50%;
                // margin: 0 0 auto;
                padding: 0 20px 20px;
                margin: 0 20px;
                @include mobile {
                    width: 50% * 2;
                    margin: 0;
                    padding: 0 10px 10px;
                }
                @include tablet {
                    width: ((100% / 1) - 10);
                    margin: 0;
                    padding: 0 10px 10px;
                }
                @include laptop {
                    width: ((100% / 2) + 20);
                    margin: 0;
                    padding: 0 10px 10px;
                }
                @include laptop_L {
                    width: ((100% / 2) + 10);
                    margin: 0;
                    padding: 0 20px 20px;
                }
                .art_desc_product_title {
                    padding: 0 10px;
                    position: relative;
                    * {
                        margin-top: 0;
                    }
                    .art_single_price {
                        padding: 15px 30px;
                        display: block;
                        color: #4caf50;
                        width: auto;
                        border: solid 1px hsla(0, 0%, 20%, 0.2);
                        border-left: 0;
                        border-right: 0;
                        margin: 10px 0;
                        @include mobile {
                            padding: 15px 10px;
                        }
                        @include laptop_L {
                            padding: 15px 30px;
                        }
                        * {
                            margin: 0;
                        }
                    }
                }
                .art_desc_product_rates_co {
                    width: 100%;
                    min-height: 55px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    // @include mobile {
                    //     .rate {
                    //         label {
                    //             font-size: 8pt;
                    //         }
                    //     }
                    // }
                }
                .art_desc_product_details {
                    width: 100%;
                }
                .art_product_price_tag {
                    padding: 10px;
                    border: 1px solid #ecf0f2;
                    border-right: 0;
                    border-left: 0;
                    border-radius: 5px;
                    -webkit-box-shadow: 0px 0px 3px -3px rgba(96, 125, 139, 0.212);
                    box-shadow: 0px 0px 3px -3px rgba(96, 125, 139, 0.212);
                    @include mobile {
                        padding: 10px;
                    }
                    @include laptop_L {
                        padding: 10px 0;
                    }
                    .art_price_title {
                        color: #000;
                        .art_price_currency {
                            padding-right: 10px;
                        }
                    }
                    .art_late_price_title {
                        color: #4caf50;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        *:not(.art_late_price_off_tag) {
                            text-decoration: line-through;
                            opacity: 0.75;
                        }
                        .art_late_price_off_tag {
                            padding: 7px 5px;
                            margin-left: 5px;
                            background: hsla(117, 58%, 58%, 0.11);
                            color: #5dd157;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            border-radius: 5px;
                        }
                    }
                }
            }
            .art_desc_product_features_co {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                @include mobile {
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    max-width: initial;
                    max-height: initial;
                    overflow: auto;
                }
                @include tablet {
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    max-width: 0;
                    max-height: 0;
                    overflow: hidden;
                }
                @include laptop {
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    max-width: initial;
                    max-height: initial;
                    overflow: auto;
                    width: ((100% / 2) + 20);
                    margin-left: 0;
                }
                @include laptop_L {
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    max-width: initial;
                    max-height: initial;
                    overflow: auto;
                    width: 58%;
                    margin-left: 20px;
                }
                .art_desc_product_features_card {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    margin-right: 5px;
                    @include mobile {
                        width: 100%;
                    }
                    @include tablet {
                        width: 49%;
                    }
                    @include laptop {
                        width: 100%;
                    }
                    .art_desc_product_features_card_header {
                        width: 100%;
                        background: aliceblue;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                    }
                    .art_desc_product_features_card_body {
                        min-height: 15vh;
                        width: 100%;
                        background: white;
                        .art_desc_product_feature {
                            margin: 0;
                            padding: 0;
                            .art_product_feature {
                                min-width: 100%;
                                min-height: 50px;
                                padding: 10px 10px 10px 50px;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                // -webkit-box-align: center;
                                // -ms-flex-align: center;
                                // align-items: center;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                -webkit-box-orient: vertical;
                                -webkit-box-direction: normal;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                                margin: 5px 0 5px;
                                background: rgb(245, 249, 251);
                                position: relative;
                                &::before {
                                    font-family: 'Material Icons';
                                    content: "check";
                                    -webkit-font-feature-settings: 'liga';
                                    font-feature-settings: 'liga';
                                    position: absolute;
                                    left: 8px;
                                    font-size: 25pt;
                                    color: #24c447;
                                }
                                .art_f_deatils {
                                    padding: 0;
                                    margin: 0;
                                    font-size: 8pt;
                                    color: #565656;
                                }
                            }
                            &.art_specs {
                                .art_product_feature {
                                    &::before {
                                        top: 0;
                                    }
                                    .art_product_feature {
                                        padding: 5px 5px 5px 40px;
                                        margin: 0 0 5px;
                                        min-height: 25px;
                                        &::before {
                                            font-size: 15pt;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .reviews {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        @include mobile {
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%;
        }
        @include tablet {
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 70%;
        }
        @include laptop {
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%;
        }
        @include laptop_L {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            width: auto;
        }
        span {
            color: #949494;
        }
        .art_review_actions {
            width: 50%;
            .art_btn {
                margin: 0;
                width: 100%;
            }
        }
    }
    .art_product_action {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px;
        background: #f5f9fb;
        margin: 10px 0;
        border-radius: 12px;
        @include mobile {
            padding: 7px 3px;
            width: 100%;
            margin: 10px 0;
        }
        @include tablet {
            padding: 10px 10px;
            width: (100% - 10);
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            margin: 10px 0;
        }
        @include laptop {
            padding: 10px 10px;
            width: ( (100% / 2) + 20);
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            margin: 10px 0;
            &.v1 {
                padding: 10px 0px;
                width: 50%;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                // margin: -38pc auto auto 0;
                margin: 10px auto auto 0;
            }
        }
        @include laptop_L {
            padding: 10px 10px;
            width: 40%;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            margin: 10px auto auto 0;
            // margin: -2pc auto auto 0;
        }
        @include laptop_W {
            padding: 10px 10px;
            width: 40%;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            margin: 10px auto auto 0;
            // margin: -8pc auto auto 0;
        }
        .art_btn {
            margin: 0;
            @include mobile {
                margin: 5px;
                width: 100%;
            }
            @include tablet {
                margin: 0 5px;
                width: (100% / 2);
            }
            @include laptop {
                margin: 0 auto;
                width: ((100% / 2) - 5);
            }
            @include laptop_L {
                margin: 0 0 5px;
                width: auto;
            }
        }
    }
    .art_request_service {
        background: #ffffff;
    }
    .art_reviewers {
        min-height: 45vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px 0 1pc;
        background: #f5f9fb;
        .art_reviews_co {
            width: 70%;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            @include mobile {
                width: 100%;
                padding: 0 20px;
            }
            @include tablet {
                width: 100%;
                padding: 0 20px;
            }
            @include laptop {
                width: 70%;
                padding: 0 20px;
            }
            @include laptop_L {
                width: 80%;
                padding: 0;
            }
            .art_reviews_title {
                width: 100%;
                text-align: center;
                color: #948f9c;
            }
            .art_reviews_cards {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                width: 100%;
                @include mobile {
                    width: 100%;
                }
                @include laptop {
                    width: 100%;
                }
                @include laptop_L {
                    width: 70%;
                }
                .slick-list {
                    width: 60%;
                    overflow: hidden;
                    @include mobile {
                        width: 100%;
                    }
                    @include laptop {
                        width: 80%;
                    }
                    @include laptop_L {
                        width: 100%;
                    }
                }
                .slick-track {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }
            }
            .art_reviews_cards {
                .art_reviews_card {
                    // width: 30% !important;
                    margin: 0 auto;
                    padding: 20px;
                    background: #f7fdfa;
                    border-radius: 5px;
                    outline: none;
                    @include mobile {
                        // width: 100% !important;
                    }
                    .art_review_header {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        width: 100%;
                        .art_review_icon {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            border-radius: 5em;
                            overflow: hidden;
                            width: 70px;
                            height: 70px;
                            img {
                                min-width: 100%;
                                max-width: 100%;
                            }
                        }
                        .art_review_titles {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            -ms-flex-pack: distribute;
                            justify-content: space-around;
                            padding: 0 15px;
                        }
                        .art_review_rates {
                            .rate {
                                padding: 0;
                                label {
                                    font-size: 15px;
                                }
                            }
                        }
                        .art_review_action {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            min-height: 30px;
                            font-size: 8pt;
                            padding: 0 15px;
                            width: auto;
                            @include mobile {
                                width: 100%;
                            }
                            @include tablet {
                                width: auto;
                            }
                            .art_btn {
                                margin: 0;
                                min-height: inherit;
                                font-size: inherit;
                                padding: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
    .art_related {
        min-height: 45vh;
        background: #f5f9fb;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px 0 15pc;
        @include mobile {
            padding: 20px 20px 10pc;
        }
        @include laptop {
            padding: 20px 0 15pc;
        }
        .art_related_products_co {
            width: 60%;
            @include mobile {
                width: 100%;
            }
            @include laptop {
                width: 90%;
            }
            @include laptop_W {
                width: 70%;
            }
            .art_related_products_title {
                width: 100%;
                // color: #948f9c;
            }
            .art_related_products_cards {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                // -webkit-box-pack: justify;
                // -ms-flex-pack: justify;
                // justify-content: space-between;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                width: 100%;
                @include mobile {
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                }
                @include laptop_L {
                    -webkit-box-pack: left;
                    -ms-flex-pack: left;
                    justify-content: left;
                }
                @include laptop_W {
                    -ms-flex-pack: distribute;
                    justify-content: space-around;
                }
                .art_related_product_card {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    width: ((100% / 3) - 1%);
                    min-height: auto;
                    margin: 0 15px;
                    padding: 0 10px;
                    background-color: #ffffff;
                    color: rgba(0, 0, 0, 0.87);
                    -webkit-box-shadow: 0 4px 8px 0 hsla(200, 18%, 46%, 0.122);
                    box-shadow: 0 4px 8px 0 hsla(200, 18%, 46%, 0.122);
                    border-radius: 4px;
                    @include mobile {
                        width: ((100% / 2) - 2%);
                        margin: 0 auto 10px 1%;
                    }
                    @include tablet {
                        width: ((100% / 2) - 2%);
                        margin: 0 1% 20px;
                    }
                    @include laptop {
                        width: ((100% / 2) - 20);
                        margin: 2% 1%;
                    }
                    @include laptop_L {
                        width: 20%;
                        margin: 10px;
                    }
                    @include laptop_W {
                        width: 25%;
                        margin: 10px 0;
                    }
                    &:hover {
                        .art_related_product_img_co {
                            img {
                                transform: scale(1.05);
                                -webkit-transform: scale(1.05);
                                -moz-transform: scale(1.05);
                                -ms-transform: scale(1.05);
                                -o-transform: scale(1.05);
                            }
                        }
                        .art_splited {
                            color: aliceblue;
                            &.filled {
                                background: #00bd6e;
                            }
                            .art_spliter {
                                background: #29a972;
                            }
                        }
                    }
                    .art_related_product_card_header {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        max-height: 450px;
                        @include mobile {
                            max-height: 100px;
                        }
                        @include tablet {
                            max-height: 290px;
                        }
                        @include laptop {
                            max-height: 245px;
                        }
                        @include laptop_L {
                            max-height: 145px;
                        }
                        @include laptop_W {
                            max-height: 350px;
                        }
                        .art_related_product_img_co {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            height: auto;
                            width: 100%;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            overflow: hidden;
                            position: relative;
                            transition: all .3s linear;
                            -webkit-transition: all .3s linear;
                            -moz-transition: all .3s linear;
                            -ms-transition: all .3s linear;
                            -o-transition: all .3s linear;
                            &.v1 {
                                padding-bottom: 40px;
                                min-height: 23vh;
                            }
                            min-height: auto;
                            padding-top: 30px;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                margin: auto;
                                transition: inherit;
                                -webkit-transition: inherit;
                                -moz-transition: inherit;
                                -ms-transition: inherit;
                                -o-transition: inherit;
                            }
                            .art_splited {
                                position: absolute;
                                &.v1 {
                                    right: 0;
                                    bottom: 0;
                                }
                                right: 5px;
                                top: 5px;
                                width: auto;
                                background: #23c447;
                                padding: 0 5px;
                                .art_spliter {
                                    background: #23c447;
                                    color: #ffffff;
                                    padding: 0 5px;
                                    width: auto;
                                }
                            }
                        }
                    }
                    .art_related_product_card_body {
                        padding: 10px 15px;
                        @include mobile {
                            padding: 10px 0;
                        }
                        @include laptop {
                            padding: 10px 15px;
                        }
                        .art_related_ {
                            .art_related_product_details_title {
                                position: relative;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    padding: 2px;
                                    width: 100px;
                                    background: #b1e8b9;
                                    top: -15px;
                                    left: -10px;
                                    border-radius: 5em;
                                }
                            }
                            .art_related_product_details_desc {
                                color: #7b7e80;
                            }
                        }
                    }
                }
            }
        }
    }
    .art-head-social {
        .art_share_title {
            padding: 7px 30px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 1px 1px #e0e0e0ba;
            box-shadow: 0px 1px 1px #e0e0e0ba;
            color: #c0c0c0;
            margin-bottom: 10px;
        }
        .art-social-icon {
            -webkit-box-shadow: 0 2px 0px rgba(192, 192, 192, 0.631);
            box-shadow: 0 2px 0px rgba(192, 192, 192, 0.631);
            img {
                -webkit-filter: brightness(2) saturate(5.5);
                filter: brightness(2) saturate(5.5);
            }
        }
    }
    .art_product_price_cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 3% 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        @include mobile {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        @include tablet {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        @include laptop {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        @include laptop_L {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .art_price_card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 30%;
            padding: 20px;
            background: #ffffff;
            margin: 0 1%;
            border-radius: 10px;
            position: relative;
            -webkit-box-shadow: 0 0 6px 0px hsla(200, 18%, 46%, 0.149);
            box-shadow: 0 0 6px 0px hsla(200, 18%, 46%, 0.149);
            /* -webkit-box-shadow: 0 0 6px 0px rgb(96 124 138 / 15%); */
            /* box-shadow: 0 0 20px 0px #509fc51c; */
            // -webkit-box-shadow: 0 5px 10px hsla(228, 18%, 66%, 0.051), 0 15px 40px hsla(228, 24%, 72%, 0.2);
            // box-shadow: 0 5px 10px hsla(228, 18%, 66%, 0.051), 0 15px 40px hsla(228, 24%, 72%, 0.2);
            -webkit-box-shadow: 0 5px 10px #eff8fe, 0 15px 40px hsla(133, 70%, 45%, 0.102);
            box-shadow: 0 5px 10px #eff8fe, 0 15px 40px hsla(133, 70%, 45%, 0.102);
            ;
            &.active {
                -webkit-transform: scale(1.15);
                -ms-transform: scale(1.15);
                transform: scale(1.15);
                z-index: 1;
                margin: 0 4%;
                border: 2px solid #23c447;
                padding: 10px;
                -moz-transform: scale(1.15);
                -o-transform: scale(1.15);
                // @include linearGradient(116deg,
                // #ee6e73,
                // (#eefaed, #ffc426));
            }
            @include mobile {
                width: 90%;
                margin: 0 auto 40px;
                // box-shadow: 0px 0px 13px hsla(205, 29%, 44%, 0.302);
                -webkit-box-shadow: 0 1px 1px #d8e1ea;
                box-shadow: 0 0px 14px hsla(210, 30%, 88%, 0.459);
                padding: 10px;
                min-height: 25vh;
                &.active {
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    margin: 0 auto 40px;
                    border-width: 0;
                }
            }
            @include tablet {
                width: 31%;
                margin: 0;
                min-height: auto;
                -webkit-box-shadow: 0 1px 1px #d8e1ea;
                box-shadow: 0 1px 1px #d8e1ea;
                &:last-of-type {
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                    margin: 0;
                }
                &.active {
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    margin: 0;
                }
            }
            @include laptop {
                width: 31%;
                margin: 0;
                -webkit-box-shadow: 0 5px 10px #eff8fe, 0 15px 40px hsla(133, 70%, 45%, 0.102);
                box-shadow: 0 5px 10px #eff8fe, 0 15px 40px hsla(133, 70%, 45%, 0.102);
                padding: (10px * 2);
                min-height: auto;
                &:last-of-type {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: none;
                    margin-top: 0;
                    margin: 0;
                }
                &.active {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    margin: 0;
                    border-width: 2px;
                }
            }
            @include laptop_L {
                width: ((100% / 3) - 2%);
                margin: 0 1%;
                padding: 10px;
                &:last-of-type {
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                    margin: 0 1%;
                }
                &.active {
                    transform: initial;
                    -webkit-transform: initial;
                    -moz-transform: initial;
                    -ms-transform: initial;
                    -o-transform: initial;
                    margin: 0 1%;
                }
            }
            @include laptop_L {
                width: 28%;
                margin: 0 1%;
                padding: 20px;
                &:last-of-type {
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                    margin: 0 1%;
                }
                &.active {
                    transform: scale(1.15);
                    -webkit-transform: scale(1.15);
                    -moz-transform: scale(1.15);
                    -ms-transform: scale(1.15);
                    -o-transform: scale(1.15);
                    margin: 0 4%;
                }
            }
            .art_late_price_off_tag {
                position: absolute;
                right: 10px;
                top: 10px;
                padding: 4px 10px;
                border-radius: 5em;
                &.v1 {
                    background: #eefaed;
                    color: #4caf50;
                }
                background: #23c447;
                color: rgb(245,
                245,
                245);
                @include mobile {
                    background: #eefaed;
                    color: #4caf50;
                }
                @include laptop {
                    background: #23c447;
                    color: rgb(245, 245, 245);
                }
            }
            .art_price_card_header {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 30px 0 10px;
                .art_price_card_product {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 40%;
                    max-height: 65px;
                    overflow: hidden;
                    margin: auto;
                    border-radius: 12px;
                    @include mobile {
                        width: 30%;
                    }
                    @include laptop {
                        width: 30%;
                    }
                    img {
                        max-width: 100%;
                        max-height: inherit;
                    }
                }
                .art_price_card_product_offer {
                    width: 60%;
                    padding: 0 5px;
                    // color: #29296d;
                    @include mobile {
                        width: 70%;
                    }
                    @include laptop {
                        width: 70%;
                    }
                    .art_percentage_msg {
                        text-transform: uppercase;
                        font-weight: 550;
                        font-size: 1.64rem;
                        @include mobile {
                            // font-size: 0.6rem;
                        }
                        * {
                            font-weight: inherit;
                            // font-size: inherit;
                        }
                    }
                    .art_percentage {
                        // color: #f50f57;
                        color: #24c447;
                        font-size: 1.15rem;
                        @include mobile {
                            // font-size: 0.6rem;
                        }
                        // * {
                        // font-size: inherit;
                        // }
                    }
                    .art_pcs {
                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .art_price_card_body {
                width: 100%;
                margin: auto auto 5px;
                // color: #19194c;
                p {
                    margin: 0;
                }
            }
            .art_price_card_footer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                margin: auto auto 0;
                .art_btn {
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }
}