@media screen and (min-width: 320px) {
  html {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 10pt;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: initial;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: initial;
  }
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .services-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  min-height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
  margin-top: 0;
  background: rgba(3, 14, 21, 0.929);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  body .services-header {
    min-height: 45vh;
  }
}

@media screen and (min-width: 750px) {
  body .services-header {
    min-height: 45vh;
  }
}

@media screen and (min-width: 1024px) {
  body .services-header {
    min-height: 55vh;
  }
}

@media screen and (min-width: 1440px) {
  body .services-header {
    min-height: 75vh;
  }
}

body .services-header .services-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

@media screen and (min-width: 320px) {
  body .services-header .services-nav {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  body .services-header .services-nav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  body .services-header .services-nav {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  body .services-header .services-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 2560px) {
  body .services-header .services-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body .services-header .services-nav .art_nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 45%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .services-header .services-nav .art_nav-right .art-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
}

body .services-header .services-nav .art_nav-right .art-brand img {
  width: auto;
  padding: 0;
  margin: 0;
  min-width: auto;
}

body .services-header .services-nav .art_nav-right .art-top-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .services-header .services-nav .art_nav-right .art-top-links li {
  display: inherit;
  width: auto;
}

body .services-header .services-nav .art_nav-right .art-top-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #656565;
}

body .services-header .services-nav .art_nav-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-right: 60px;
}

body .services-header .services-nav .art_nav-left #head_search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 0;
  overflow: hidden;
}

body .services-header .services-nav .art_nav-left #head_search_form .art_input_co {
  height: auto;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.859);
  margin: auto;
  border-radius: 4em 4em;
}

body .services-header .services-nav .art_nav-left #head_search_form .art_input_co .art_under_search {
  background: transparent;
  border: 0;
  color: #d2d2d2;
  padding: 1px 6px;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

body .services-header .services-nav .art_nav-left #head_search_form .art_input_co .art_input {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: auto;
  border-bottom: 0;
}

body .services-header .services-nav .art_nav-left #head_search_form .art_input_co .art_submit_search {
  background: transparent;
  border: 0;
  opacity: 0;
  visibility: hidden;
}

body .services-header .services-nav .art_nav-left .art_btn {
  border: 0;
  background: rgba(0, 245, 0, 0);
  color: #707070;
  text-align: center;
  margin: 0 15px;
  cursor: pointer;
}

body .services-header .services-nav .art_nav-left .art_btn i {
  line-height: 47px;
  font-size: 30pt;
}

body .services-header .services-nav .art_nav-left .dropdown-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .services-header .services-nav .art_nav-left .dropdown-trigger i {
  line-height: inherit;
  font-size: 21pt;
  margin: auto;
  height: auto;
}

body .services-header .services-nav .dropdown-content {
  top: 101% !important;
  width: auto !important;
  height: auto !important;
  -webkit-box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
  box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
  border-radius: 0 0 10px 10px;
  border: 0;
}

body .services-header .services-nav .dropdown-content a {
  color: #607D8B;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

body .services-header .services-nav .dropdown-content a:hover {
  background-color: #009b4e;
  color: aliceblue;
}

body .services-header .serviceshero__img {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

body .services-header .serviceshero__img img {
  width: 100%;
  max-width: 100%;
}

body .serviceshero {
  max-width: 40%;
  position: absolute;
  margin-left: 200px;
  margin-bottom: 100px;
  left: 0;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) {
  body .serviceshero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 0;
    padding: 10% 7%;
  }
}

@media screen and (min-width: 750px) {
  body .serviceshero {
    margin-top: 20px;
    position: relative;
    max-width: 80%;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  body .serviceshero {
    position: relative;
    max-width: 80%;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media screen and (min-width: 1440px) {
  body .serviceshero {
    display: initial;
    max-width: 40%;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 0;
    padding: 0;
    text-align: left;
  }
}

@media screen and (min-width: 2560px) {
  body .serviceshero {
    margin-bottom: 100px;
    margin-left: 200px;
  }
}

body .serviceshero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  body .serviceshero__title {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 2560px) {
  body .serviceshero__title {
    margin-bottom: 30px;
  }
}

body .serviceshero__text {
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
  body .serviceshero__text {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 750px) {
  body .serviceshero__text {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 2560px) {
  body .serviceshero__text {
    margin-bottom: 30px;
  }
}

body .serviceshero .art_gree_btn {
  margin: auto auto 10px 0;
}

body .serviceshero__arrow {
  font-size: 1.4rem;
  margin-left: 10px;
}

body .art_services_description {
  min-height: 40vh;
  background: #F8F8F8;
  padding: 40px 0;
}

body .art_services_description .art_cards_co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .art_services_description .art_cards_co .art_card {
  width: 100%;
  padding: 40px 20px;
  margin: 0 3%;
  -webkit-box-shadow: 0 1px 1px #d8e1ea;
  box-shadow: 0 1px 1px #d8e1ea;
  border-radius: 5px;
  background: white;
}

body .art_services_description .art_cards_co .art_card .header_icon {
  --defaultCardPinColor: #121c23;
  padding: 10% 0 0px;
  background: var(--defaultCardPinColor);
  width: 10%;
  height: auto;
  display: block;
  border-radius: 5em;
  margin-left: -10px;
  margin-top: -30px;
  /* overflow: hidden; */
  position: relative;
}

body .art_services_description .art_cards_co .art_card .header_icon::before {
  content: "";
  position: absolute;
  height: 98px;
  width: 10%;
  background: var(--defaultCardPinColor);
  left: 0px;
  top: 45%;
  border-radius: 8em;
}

body .art_services_description .art_cards_co.x3 .art_card {
  width: 33.33333%;
}

@media screen and (min-width: 320px) {
  body .art_services_description .art_cards_co.x3 .art_card {
    width: 95%;
    margin: 10px 0;
  }
}

@media screen and (min-width: 750px) {
  body .art_services_description .art_cards_co.x3 .art_card {
    width: 45%;
  }
  body .art_services_description .art_cards_co.x3 .art_card:last-of-type {
    width: 95%;
  }
}

@media screen and (min-width: 1024px) {
  body .art_services_description .art_cards_co.x3 .art_card {
    width: 45%;
  }
}

@media screen and (min-width: 1440px) {
  body .art_services_description .art_cards_co.x3 .art_card {
    width: 29.33333%;
    margin: 0 1%;
  }
  body .art_services_description .art_cards_co.x3 .art_card:last-of-type {
    width: 29.33333%;
  }
}

@media screen and (min-width: 2560px) {
  body .art_services_description .art_cards_co.x3 .art_card {
    width: 28.33333%;
    margin: 0 2%;
  }
  body .art_services_description .art_cards_co.x3 .art_card:last-of-type {
    width: 28.33333%;
  }
}

body .art_how_it_works {
  background: white;
  min-height: 40vh;
  padding: 40px 0;
}

body .art_request_service {
  min-height: 40vh;
  background: #F8F8F8;
  padding: 0;
  position: relative;
}

body .art_request_service .art_service_container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  min-height: 40vh;
}

body .art_request_service .art_service_container .art_service_bg {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

body .art_request_service .art_service_container .art_service_bg svg {
  width: 55%;
  height: 100%;
}

@media screen and (min-width: 320px) {
  body .art_request_service .art_service_container .art_service_bg svg {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body .art_request_service .art_service_container .art_service_bg svg {
    width: 55%;
  }
}

body .art_request_service .art_service_container .art_service_form_co {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 2;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 320px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc {
    width: 100%;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc {
    width: 50%;
    position: relative;
  }
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc img {
  max-width: 100%;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_service_perosn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60%;
  position: relative;
}

@media screen and (min-width: 320px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_service_perosn {
    width: 40%;
  }
}

@media screen and (min-width: 750px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_service_perosn {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_service_perosn {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_service_perosn {
    width: 70%;
  }
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_service_perosn img {
  max-width: 100%;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title {
  position: absolute;
  background: rgba(239, 218, 255, 0.369);
  padding: 10px 20px;
  border-radius: 10px;
  color: #25688a;
  z-index: 1;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  -webkit-box-shadow: 1px -1px 1px 0px rgba(232, 242, 251, 0.631);
  box-shadow: 1px -1px 1px 0px rgba(232, 242, 251, 0.631);
  max-width: 290px;
  left: 0;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title.art_top {
  top: 10px;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title.art_bottom {
  bottom: 90px;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.62);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  padding: 20px 67px;
  border-radius: 10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: -10px;
  -webkit-box-shadow: -1px 1px 1px 0px #dfcbed;
  box-shadow: -1px 1px 1px 0px #dfcbed;
}

@media screen and (min-width: 320px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title {
    left: 0;
    background: rgba(255, 255, 255, 0.859);
    width: 100%;
    max-width: 91%;
  }
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title::before {
    max-width: 0;
    max-height: 0;
    padding: 0;
  }
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title::after {
    max-width: 0;
    max-height: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title {
    left: initial;
    background: rgba(255, 255, 255, 0.62);
    width: initial;
    max-width: initial;
  }
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title::before {
    max-width: initial;
    max-height: initial;
    padding: 20px 67px;
  }
  body .art_request_service .art_service_container .art_service_form_co .art_service_desc .art_desc_title::after {
    max-width: initial;
    max-height: initial;
    padding: 20px 67px;
  }
}

body .art_request_service .art_service_container .art_service_form_co .art_service_body {
  width: 20%;
  min-height: 40vh;
  padding: 30px 20px;
  margin: 19px 0;
  -webkit-box-shadow: -1px 0px 1px rgba(96, 125, 139, 0.341);
  box-shadow: -1px 0px 1px rgba(96, 125, 139, 0.341);
  -webkit-backdrop-filter: blur(36px);
  backdrop-filter: blur(36px);
  background: -o-linear-gradient(280deg, rgba(11, 76, 44, 0.18), transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(280deg), color-stop(rgba(11, 76, 44, 0.18)), to(transparent));
  background: linear-gradient(280deg, rgba(11, 76, 44, 0.18), transparent);
  border-radius: 20px;
}

@media screen and (min-width: 320px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body {
    width: 100%;
    margin: 105px auto 175px;
  }
}

@media screen and (min-width: 750px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body {
    width: 70%;
    margin: 129px auto 185px;
  }
}

@media screen and (min-width: 1024px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body {
    width: 50%;
    margin: 19px 0;
  }
}

@media screen and (min-width: 1440px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body {
    width: 30%;
  }
}

@media screen and (min-width: 2560px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body {
    width: 20%;
  }
}

body .art_request_service .art_service_container .art_service_form_co .art_service_body .art_input_co {
  margin: 10px 0 40px;
  height: 4rem;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_body .art_input_co.art_textera {
  max-height: 150px;
  height: 6rem;
}

@media screen and (min-width: 320px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body .art_input_co.art_textera {
    height: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body .art_input_co.art_textera {
    height: 7rem;
  }
}

@media screen and (min-width: 1440px) {
  body .art_request_service .art_service_container .art_service_form_co .art_service_body .art_input_co.art_textera {
    height: 7rem;
  }
}

body .art_request_service .art_service_container .art_service_form_co .art_service_body .art_input_co.art_textera textarea {
  resize: none;
  padding: 15px;
}

body .art_request_service .art_service_container .art_service_form_co .art_service_body .art_btn {
  margin: auto;
}

body .joinus {
  position: relative;
  background: -o-linear-gradient(top left, #c3a024, #24c347);
  background: -webkit-gradient(linear, left top, right bottom, from(#c3a024), to(#24c347));
  background: linear-gradient(to bottom right, #c3a024, #24c347);
  max-height: 250px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 120px 0;
  color: #FFF;
  z-index: 2;
}

@media screen and (min-width: 320px) {
  body .joinus {
    max-height: none;
    padding: 20px 20px 0;
  }
}

@media screen and (min-width: 750px) {
  body .joinus {
    max-height: none;
  }
}

@media screen and (min-width: 1024px) {
  body .joinus {
    max-height: none;
  }
}

@media screen and (min-width: 1440px) {
  body .joinus {
    max-height: 35vh;
  }
}

@media screen and (min-width: 2560px) {
  body .joinus {
    max-height: 40;
  }
}

body .joinus::before {
  content: "";
  position: absolute;
  right: 0;
  top: -3px;
  background-image: url(../img/services/joinusbackground-top.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 100%;
  z-index: 0;
}

body .joinus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  background-image: url(../img/services/joinusbackground-bottom.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 100%;
  height: 100%;
  z-index: 0;
}

body .joinus__pic {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  body .joinus__pic {
    display: none;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 750px) {
  body .joinus__pic {
    display: none;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1024px) {
  body .joinus__pic {
    display: none;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  body .joinus__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    margin-bottom: 87px;
    width: 50%;
  }
}

@media screen and (min-width: 2560px) {
  body .joinus__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    width: 26%;
    max-height: 302px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

body .joinus__pic__img {
  min-width: 100%;
}

body .joinus__content {
  width: 50%;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  text-align: left;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  body .joinus__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  body .joinus__content {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  body .joinus__content {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  body .joinus__content {
    width: 50%;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
    text-align: left;
    padding-right: 20px;
  }
}

@media screen and (min-width: 2560px) {
  body .joinus__content {
    width: 50%;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
    text-align: left;
    padding-right: 21%;
  }
}

body .joinus__pretitle {
  margin: 5px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (min-width: 320px) {
  body .joinus__pretitle {
    margin-bottom: 20px;
  }
}

body .joinus__title {
  margin: 0;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  body .joinus__title {
    margin-bottom: 20px;
  }
}

body .joinus__subtitle {
  z-index: 999;
}

@media screen and (min-width: 320px) {
  body .joinus__subtitle {
    margin-bottom: 10px;
  }
}

body .joinus__btn {
  border: none;
  padding: 16px 40px;
  color: #24C347;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 15px 0;
  border-radius: 25px;
}

body .socialmedia {
  padding: 20px 120px 195px;
  background: rgba(255, 255, 255, 0.922);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 320px) {
  body .socialmedia {
    padding: 20px 24px 195px;
  }
}

@media screen and (min-width: 750px) {
  body .socialmedia {
    padding: 20px 80px 195px;
  }
}

@media screen and (min-width: 1024px) {
  body .socialmedia {
    padding: 20px 80px 195px;
  }
}

@media screen and (min-width: 1440px) {
  body .socialmedia {
    padding: 20px 80px 195px;
  }
}

@media screen and (min-width: 2560px) {
  body .socialmedia {
    padding: 80px 15% 195px;
  }
}

body .socialmedia__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 320px) {
  body .socialmedia__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  body .socialmedia__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  body .socialmedia__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  body .socialmedia__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}

body .socialmedia__btns {
  padding: 80px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
}

@media screen and (min-width: 320px) {
  body .socialmedia__btns {
    margin-top: 30px;
    padding: 0;
    width: 100%;
  }
}

body .socialmedia__btns__pic {
  max-height: 100px;
  max-width: 100px;
}

@media screen and (min-width: 320px) {
  body .socialmedia__btns__pic {
    max-width: 50px;
    max-height: 50px;
  }
}

@media screen and (min-width: 750px) {
  body .socialmedia__btns__pic {
    max-width: 75px;
    max-height: 75px;
  }
}

@media screen and (min-width: 1024px) {
  body .socialmedia__btns__pic {
    max-height: 75px;
    max-width: 75px;
  }
}

@media screen and (min-width: 1440px) {
  body .socialmedia__btns__pic {
    max-height: 100px;
    max-width: 100px;
  }
}

@media screen and (min-width: 2560px) {
  body .socialmedia__btns__pic {
    max-height: 150px;
    max-width: 150px;
  }
}

body .socialmedia__content {
  width: 40%;
  color: #656565;
}

@media screen and (min-width: 320px) {
  body .socialmedia__content {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  body .socialmedia__content {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  body .socialmedia__content {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  body .socialmedia__content {
    width: 60%;
    text-align: left;
  }
}

body .socialmedia__content__title {
  font-weight: 700;
  font-size: 2.5rem;
}

body .socialmedia__content__subtitle {
  font-weight: 500;
}

body .art_left_right_co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 35px 10px;
}

body .art_left_right_co .art_card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}
