@import "./media-queries";
// @import "./globals";
@import "./mixins.scss";
html {
    @include mobile {
        font-size: 0.95rem;
    }
    @include laptop {
        font-size: 10pt;
    }
    @include laptop_L {
        font-size: initial;
    }
    @include laptop_W {
        font-size: initial;
    }
}

body {
    %aling-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .services-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        min-height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 0;
        margin-top: 0;
        background: rgba(3, 14, 21, 0.929);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        @include mobile {
            min-height: 45vh;
        }
        @include tablet {
            min-height: 45vh;
        }
        @include laptop {
            min-height: 55vh;
        }
        @include laptop_L {
            min-height: 50vh;
        }
        .services-nav {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.9);
            position: fixed;
            top: 0;
            z-index: 10;
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
            @include laptop {
                display: none;
            }
            @include laptop_L {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
            @include laptop_W {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
            .art_nav-right {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: auto;
                min-width: 45%;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                .art-brand {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: auto;
                    height: auto;
                    img {
                        width: auto;
                        padding: 0;
                        margin: 0;
                        min-width: auto;
                    }
                }
                .art-top-links {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    li {
                        display: inherit;
                        width: auto;
                        a {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            color: #656565;
                        }
                    }
                }
            }
            .art_nav-left {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                margin-right: 60px;
                #head_search_form {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    max-width: 0;
                    overflow: hidden;
                    .art_input_co {
                        height: auto;
                        max-height: 40px;
                        overflow: hidden;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        background-color: rgba(255, 255, 255, 0.859);
                        margin: auto;
                        border-radius: 4em 4em;
                        .art_under_search {
                            background: transparent;
                            border: 0;
                            color: #d2d2d2;
                            padding: 1px 6px;
                            font-size: 100%;
                            line-height: 1.15;
                            margin: 0;
                        }
                        .art_input {
                            border: 0;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            margin: auto;
                            border-bottom: 0;
                        }
                        .art_submit_search {
                            background: transparent;
                            border: 0;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
                .art_btn {
                    border: 0;
                    background: rgba(0, 245, 0, 0);
                    color: #707070;
                    text-align: center;
                    margin: 0 15px;
                    cursor: pointer;
                    i {
                        line-height: 47px;
                        font-size: 30pt;
                    }
                }
                .dropdown-trigger {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    i {
                        line-height: inherit;
                        font-size: 21pt;
                        margin: auto;
                        height: auto;
                    }
                }
            }
            .dropdown-content {
                top: 101% !important;
                width: auto !important;
                height: auto !important;
                -webkit-box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
                box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
                border-radius: 0 0 10px 10px;
                border: 0;
                a {
                    color: #607D8B;
                    transition: .3s linear;
                    -webkit-transition: .3s linear;
                    -moz-transition: .3s linear;
                    -ms-transition: .3s linear;
                    -o-transition: .3s linear;
                    &:hover {
                        background-color: rgb(0, 155, 78);
                        color: aliceblue;
                    }
                }
            }
        }
        .serviceshero__img {
            width: 100%;
            position: fixed;
            z-index: -1;
            top: 0;
            bottom: 0;
            overflow: hidden;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        .art_stylish_x {
            bottom: -76px;
            color: #f8f8f8;
        }
    }
    .serviceshero {
        max-width: 40%;
        position: absolute;
        margin-left: 200px;
        margin-bottom: 100px;
        left: 0;
        text-align: left;
        color: #FFFFFF;
        @include mobile {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            max-width: 100%;
            text-align: center;
            margin: 0;
            margin-top: 0;
            padding: 10% 7%;
        }
        @include tablet {
            margin-top: 20px;
            position: relative;
            max-width: 80%;
            -ms-flex-item-align: center;
            align-self: center;
        }
        @include laptop {
            position: relative;
            max-width: 80%;
            -ms-flex-item-align: center;
            align-self: center;
        }
        @include laptop_L {
            display: initial;
            max-width: 40%;
            position: absolute;
            margin-left: 100px;
            margin-bottom: 100px;
            margin-top: 0;
            padding: 0;
            text-align: left;
        }
        @include laptop_W {
            margin-bottom: 100px;
            margin-left: 200px;
        }
        &__title {
            margin: 0;
            margin-bottom: 20px;
            font-weight: 700;
            @include mobile {
                margin-bottom: 8px;
            }
            @include laptop_W {
                margin-bottom: 30px;
            }
        }
        &__text {
            margin-bottom: 20px;
            @include mobile {
                margin-bottom: 10px;
            }
            @include tablet {
                margin-bottom: 20px;
            }
            @include laptop_W {
                margin-bottom: 30px;
            }
        }
        .art_gree_btn {
            margin: auto auto 10px 0;
        }
        &__arrow {
            font-size: 1.4rem;
            margin-left: 10px;
        }
    }
    // description section
    .art_services_description {
        min-height: (20vh * 2);
        background: #F8F8F8;
        padding: 70px 0 40px;
        .art_cards_co {
            @include flex();
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .art_card {
                width: ((100% / 1));
                padding: 40px 20px;
                margin: 0 3%;
                -webkit-box-shadow: 0 1px 1px #d8e1ea;
                box-shadow: 0 1px 1px #d8e1ea;
                border-radius: 5px;
                background: white;
                .header_icon {
                    --defaultCardPinColor: #121c23;
                    padding: 10% 0 0px;
                    background: var(--defaultCardPinColor);
                    width: 10%;
                    height: auto;
                    display: block;
                    border-radius: 5em;
                    margin-left: -10px;
                    margin-top: -30px;
                    /* overflow: hidden; */
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 98px;
                        width: 10%;
                        background: var(--defaultCardPinColor);
                        left: 0px;
                        top: 45%;
                        border-radius: 8em;
                    }
                }
            }
            &.x3 {
                .art_card {
                    width: ((100% / 3));
                    @include mobile {
                        width: ((100% / 1)- (3% + 2%));
                        margin: 10px 0;
                    }
                    @include tablet {
                        width: ((100% / 2) - (3% + 2%));
                        &:last-of-type {
                            width: 95%;
                        }
                    }
                    @include laptop {
                        width: ((100% / 2)- (3% + 2%));
                    }
                    @include laptop_L {
                        width: ((100% / 3)- (3% + 1%));
                        margin: 0 1%;
                        &:last-of-type {
                            width: ((100% / 3)- (3% + 1%));
                        }
                    }
                    @include laptop_W {
                        width: ((100% / 3)- (3% + 2%));
                        margin: 0 2%;
                        &:last-of-type {
                            width: ((100% / 3)- (3% + 2%));
                        }
                    }
                }
            }
        }
    }
    // How it works section
    .art_how_it_works {
        background: white;
        min-height: (20vh * 2);
        padding: 40px 0;
    }
    // social media styling starts here
    .socialmedia {
        padding: 20px 120px 195px;
        background: rgba(255, 255, 255, 0.922);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        @include mobile {
            padding: 20px 24px 195px;
        }
        @include tablet {
            padding: 20px 80px 195px;
        }
        @include laptop {
            padding: 20px 80px 195px;
        }
        @include laptop_L {
            padding: 20px 80px 195px;
        }
        @include laptop_W {
            padding: 80px 15% 195px;
        }
        &__container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            @include mobile {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                flex-flow: column wrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            @include tablet {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                flex-flow: column wrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            @include laptop {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                flex-flow: column wrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            @include laptop_L {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row;
                flex-flow: row;
            }
        }
        &__btns {
            padding: 80px 80px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 40%;
            @include mobile {
                margin-top: 30px;
                padding: 0;
                width: 100%;
            }
            &__pic {
                max-height: 100px;
                max-width: 100px;
                @include mobile {
                    max-width: 50px;
                    max-height: 50px;
                }
                @include tablet {
                    max-width: 75px;
                    max-height: 75px;
                }
                @include laptop {
                    max-height: 75px;
                    max-width: 75px;
                }
                @include laptop_L {
                    max-height: 100px;
                    max-width: 100px;
                }
                @include laptop_W {
                    max-height: 150px;
                    max-width: 150px;
                }
            }
        }
        &__content {
            width: 40%;
            color: #656565;
            @include mobile {
                width: 100%;
                text-align: center;
            }
            @include tablet {
                width: 100%;
                text-align: center;
            }
            @include laptop {
                width: 100%;
                text-align: center;
            }
            @include laptop_L {
                width: 60%;
                text-align: left;
            }
            &__title {
                font-weight: 700;
                font-size: 2.5rem;
            }
            &__subtitle {
                font-weight: 500;
            }
        }
    }
    .art_left_right_co {
        @include flex();
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 35px 10px;
        .art_card {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding: 0 10px;
        }
    }
}