* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.services-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  min-height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
  margin-top: 0;
  background: rgba(3, 14, 21, 0.929);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .services-header {
    min-height: 45vh;
  }
}

@media screen and (min-width: 750px) {
  .services-header {
    min-height: 45vh;
  }
}

@media screen and (min-width: 1024px) {
  .services-header {
    min-height: 55vh;
  }
}

@media screen and (min-width: 1440px) {
  .services-header {
    min-height: 75vh;
  }
}

.services-header .services-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

@media screen and (min-width: 320px) {
  .services-header .services-nav {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .services-header .services-nav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .services-header .services-nav {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .services-header .services-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 2560px) {
  .services-header .services-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.services-header .services-nav .art_nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 45%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-header .services-nav .art_nav-right .art-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
}

.services-header .services-nav .art_nav-right .art-brand img {
  width: auto;
  padding: 0;
  margin: 0;
  min-width: auto;
}

.services-header .services-nav .art_nav-right .art-top-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-header .services-nav .art_nav-right .art-top-links li {
  display: inherit;
  width: auto;
}

.services-header .services-nav .art_nav-right .art-top-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #656565;
}

.services-header .services-nav .art_nav-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-right: 60px;
}

.services-header .services-nav .art_nav-left #head_search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 0;
  overflow: hidden;
}

.services-header .services-nav .art_nav-left #head_search_form .art_input_co {
  height: auto;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.859);
  margin: auto;
  border-radius: 4em 4em;
}

.services-header .services-nav .art_nav-left #head_search_form .art_input_co .art_under_search {
  background: transparent;
  border: 0;
  color: #d2d2d2;
  padding: 1px 6px;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.services-header .services-nav .art_nav-left #head_search_form .art_input_co .art_input {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: auto;
  border-bottom: 0;
}

.services-header .services-nav .art_nav-left #head_search_form .art_input_co .art_submit_search {
  background: transparent;
  border: 0;
  opacity: 0;
  visibility: hidden;
}

.services-header .services-nav .art_nav-left .art_btn {
  border: 0;
  background: rgba(0, 245, 0, 0);
  color: #707070;
  text-align: center;
  margin: 0 15px;
  cursor: pointer;
}

.services-header .services-nav .art_nav-left .art_btn i {
  line-height: 47px;
  font-size: 30pt;
}

.services-header .services-nav .art_nav-left .dropdown-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-header .services-nav .art_nav-left .dropdown-trigger i {
  line-height: inherit;
  font-size: 21pt;
  margin: auto;
  height: auto;
}

.services-header .services-nav .dropdown-content {
  top: 101% !important;
  width: auto !important;
  height: auto !important;
  -webkit-box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
  box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
  border-radius: 0 0 10px 10px;
  border: 0;
}

.services-header .services-nav .dropdown-content a {
  color: #607D8B;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

.services-header .services-nav .dropdown-content a:hover {
  background-color: #009b4e;
  color: aliceblue;
}

.services-header .serviceshero__img {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.services-header .serviceshero__img img {
  width: 100%;
  max-width: 100%;
}

.serviceshero {
  max-width: 40%;
  position: absolute;
  margin-left: 200px;
  margin-bottom: 100px;
  left: 0;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) {
  .serviceshero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 0;
    padding: 10% 7%;
  }
}

@media screen and (min-width: 750px) {
  .serviceshero {
    margin-top: 20px;
    position: relative;
    max-width: 80%;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .serviceshero {
    position: relative;
    max-width: 80%;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .serviceshero {
    display: initial;
    max-width: 40%;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 0;
    padding: 0;
    text-align: left;
  }
}

@media screen and (min-width: 2560px) {
  .serviceshero {
    margin-bottom: 100px;
    margin-left: 200px;
  }
}

.serviceshero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  .serviceshero__title {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 2560px) {
  .serviceshero__title {
    margin-bottom: 30px;
  }
}

.serviceshero__text {
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
  .serviceshero__text {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 750px) {
  .serviceshero__text {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 2560px) {
  .serviceshero__text {
    margin-bottom: 30px;
  }
}

.serviceshero .art_gree_btn {
  margin: auto auto 10px 0;
}

.serviceshero__arrow {
  font-size: 1.4rem;
  margin-left: 10px;
}

.art_services_description {
  min-height: 20vh;
  background: #F8F8F8;
}

section.art_how_it_works {
  background: white;
  min-height: 20vh;
}

.joinus {
  position: relative;
  background: -o-linear-gradient(top left, #c3a024, #24c347);
  background: -webkit-gradient(linear, left top, right bottom, from(#c3a024), to(#24c347));
  background: linear-gradient(to bottom right, #c3a024, #24c347);
  max-height: 250px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 120px;
  color: #FFF;
}

@media screen and (min-width: 320px) {
  .joinus {
    max-height: none;
    padding: 20px;
  }
}

@media screen and (min-width: 750px) {
  .joinus {
    max-height: none;
  }
}

@media screen and (min-width: 1024px) {
  .joinus {
    max-height: none;
  }
}

@media screen and (min-width: 1440px) {
  .joinus {
    max-height: 250px;
  }
}

@media screen and (min-width: 2560px) {
  .joinus {
    max-height: 300px;
  }
}

.joinus:before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(../img/services/joinusbackground.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
}

.joinus__pic {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  .joinus__pic {
    display: none;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 750px) {
  .joinus__pic {
    display: none;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .joinus__pic {
    display: none;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .joinus__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    margin-bottom: 80px;
    width: 36%;
  }
}

@media screen and (min-width: 2560px) {
  .joinus__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    width: 26%;
    max-height: 302px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.joinus__pic__img {
  min-width: 100%;
}

.joinus__content {
  width: 50%;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  text-align: left;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  .joinus__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  .joinus__content {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .joinus__content {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .joinus__content {
    width: 50%;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
    text-align: left;
    padding-right: 20px;
  }
}

@media screen and (min-width: 2560px) {
  .joinus__content {
    width: 50%;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
    text-align: left;
    padding-right: 21%;
  }
}

.joinus__pretitle {
  margin: 5px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (min-width: 320px) {
  .joinus__pretitle {
    margin-bottom: 20px;
  }
}

.joinus__title {
  margin: 0;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  .joinus__title {
    margin-bottom: 20px;
  }
}

.joinus__subtitle {
  z-index: 999;
}

@media screen and (min-width: 320px) {
  .joinus__subtitle {
    margin-bottom: 10px;
  }
}

.joinus__btn {
  border: none;
  padding: 16px 40px;
  color: #24C347;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 15px 0;
  border-radius: 25px;
}

.socialmedia {
  padding: 20px 120px 195px;
  background: rgba(255, 255, 255, 0.922);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 320px) {
  .socialmedia {
    padding: 20px 24px 195px;
  }
}

@media screen and (min-width: 750px) {
  .socialmedia {
    padding: 20px 80px 195px;
  }
}

@media screen and (min-width: 1024px) {
  .socialmedia {
    padding: 20px 80px 195px;
  }
}

@media screen and (min-width: 1440px) {
  .socialmedia {
    padding: 20px 80px 195px;
  }
}

@media screen and (min-width: 2560px) {
  .socialmedia {
    padding: 80px 15% 195px;
  }
}

.socialmedia__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .socialmedia__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  .socialmedia__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .socialmedia__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .socialmedia__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}

.socialmedia__btns {
  padding: 80px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
}

@media screen and (min-width: 320px) {
  .socialmedia__btns {
    margin-top: 30px;
    padding: 0;
    width: 100%;
  }
}

.socialmedia__btns__pic {
  max-height: 100px;
  max-width: 100px;
}

@media screen and (min-width: 320px) {
  .socialmedia__btns__pic {
    max-width: 50px;
    max-height: 50px;
  }
}

@media screen and (min-width: 750px) {
  .socialmedia__btns__pic {
    max-width: 75px;
    max-height: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .socialmedia__btns__pic {
    max-height: 75px;
    max-width: 75px;
  }
}

@media screen and (min-width: 1440px) {
  .socialmedia__btns__pic {
    max-height: 100px;
    max-width: 100px;
  }
}

@media screen and (min-width: 2560px) {
  .socialmedia__btns__pic {
    max-height: 150px;
    max-width: 150px;
  }
}

.socialmedia__content {
  width: 40%;
  color: #656565;
}

@media screen and (min-width: 320px) {
  .socialmedia__content {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  .socialmedia__content {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .socialmedia__content {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .socialmedia__content {
    width: 60%;
    text-align: left;
  }
}

.socialmedia__content__title {
  font-weight: 700;
}

.socialmedia__content__subtitle {
  font-weight: 500;
}
