body {
  background: #fafafa;
}

body .art-nav .art_nav-right {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 0;
  min-width: auto;
}

body .art-nav .art_nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

body .art-nav .art_nav-center #shop_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  min-width: 50%;
}

body .art-nav .art_nav-center #shop_search .art_input_co {
  height: 3rem;
  background: rgba(6, 30, 18, 0.078);
  border: 0;
  border-radius: 5em;
}

body .art-nav .art_nav-center #shop_search .art_input_co label {
  line-height: 1;
  padding: 0 10px;
}

body .art-nav .art_nav-center #shop_search .art_input_co .art_input {
  cursor: initial;
}

body .art-nav .art_nav-left {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

body .shop, body .shop__sidebar__price__titlecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .shop__sidebar, body .shop__products, body .productlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .shop__sidebar__price__slidernum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

body button:active, body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}

body .shop {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3%;
  position: relative;
}

body .shop__sidebarwrapper {
  width: 0;
  height: 0;
  position: relative;
}

@media screen and (min-width: 320px) {
  body .shop__sidebarwrapper {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebarwrapper {
    visibility: visible !important;
    width: 0;
    height: 0;
    position: relative;
    background-color: transparent;
    padding: 0;
    display: block;
  }
}

body .shop__sidebar {
  max-width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.4% 2%;
  background-color: #ffffff;
  position: relative;
}

body .shop__sidebar__exiticon {
  display: none;
}

@media screen and (min-width: 320px) {
  body .shop__sidebar__exiticon {
    display: block;
    position: absolute;
    font-size: 2rem;
    top: .5pc;
    right: 1pc;
    color: #505050;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebar__exiticon {
    display: none;
  }
}

body .shop__sidebar__icon {
  color: #ADADAD;
  font-size: .8rem;
}

@media screen and (min-width: 320px) {
  body .shop__sidebar__icon {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebar__icon {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__sidebar__icon {
    font-size: .8rem;
  }
}

body .shop__sidebar__category, body .shop__sidebar__price {
  padding: 1rem 0;
  border-bottom: .5px solid #ADADAD;
  width: 100%;
}

@media screen and (min-width: 320px) {
  body .shop__sidebar__category, body .shop__sidebar__price {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebar__category, body .shop__sidebar__price {
    padding: 1rem 0;
  }
}

body .shop__sidebar__category__header, body .shop__sidebar__price__titlecontainer__title, body .shop__sidebar__price__header {
  font-size: 1rem;
  font-weight: 550;
  margin: 0;
}

@media screen and (min-width: 320px) {
  body .shop__sidebar__category__header, body .shop__sidebar__price__titlecontainer__title, body .shop__sidebar__price__header {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebar__category__header, body .shop__sidebar__price__titlecontainer__title, body .shop__sidebar__price__header {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__sidebar__category__header, body .shop__sidebar__price__titlecontainer__title, body .shop__sidebar__price__header {
    font-size: 1rem;
  }
}

body .shop__sidebar__category__subheader, body .shop__sidebar__price__subheader {
  font-size: .8rem;
  font-weight: 500;
  margin: 1rem 0;
}

@media screen and (min-width: 320px) {
  body .shop__sidebar__category__subheader, body .shop__sidebar__price__subheader {
    font-size: 1.2rem;
    margin: 1.4rem 0;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebar__category__subheader, body .shop__sidebar__price__subheader {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__sidebar__category__subheader, body .shop__sidebar__price__subheader {
    font-size: .8rem;
  }
}

body .shop__sidebar__price {
  border-bottom: none;
  padding: 0;
}

body .shop__sidebar__price__titlecontainer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.8rem 0;
}

body .shop__sidebar__price__range {
  padding: 1.4rem 0;
}

@media screen and (min-width: 320px) {
  body .shop__sidebar__price__range {
    padding: 3rem 0;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebar__price__range {
    padding: 1.4rem 0;
  }
}

body .shop__sidebar__price__slidernum {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  body .shop__sidebar__price__slidernum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  body .shop__sidebar__price__slidernum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__sidebar__price__slidernum {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

body .shop__sidebar__price__slidernum__seperator {
  height: 2px;
  width: 20px;
  background-color: #000;
}

body .shop__products {
  max-width: 70%;
  margin-left: auto;
  padding: 0;
}

@media screen and (min-width: 320px) {
  body .shop__products {
    max-width: 100%;
    margin-left: 0;
    padding: 2%;
  }
}

@media screen and (min-width: 750px) {
  body .shop__products {
    max-width: 70%;
    margin-left: auto;
    padding: 0;
  }
}

body .shop__products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  text-align: right;
  padding: 0 2%;
}

@media screen and (min-width: 320px) {
  body .shop__products__header {
    width: 40%;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 750px) {
  body .shop__products__header {
    width: 25%;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__products__header {
    width: 20%;
  }
}

body .shop__products__header__iconwrapper {
  cursor: pointer;
}

body .shop__products__header__iconwrapper:hover, body .shop__products__header__iconwrapper:active {
  color: #24C347;
}

body .shop__products__header__icons {
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  body .shop__products__header__icons {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) {
  body .shop__products__header__icons {
    font-size: 24px;
  }
}

body .shop__products__productwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2.4% 2%;
  margin-top: 3rem;
  background: white;
  border-radius: 7px;
}

@media screen and (min-width: 2560px) {
  body .shop__products__productwrapper {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

body .shop__products__productcontainer__pic {
  max-width: 268px;
}

body .shop__products__productcontainer__productdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 320px) {
  body .shop__products__productcontainer__productdetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  body .shop__products__productcontainer__productdetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__products__productcontainer__productdetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  body .shop__products__productcontainer__productdetails {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

body .shop__products__productcontainer__productdetails__productprice {
  font-size: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 320px) {
  body .shop__products__productcontainer__productdetails__productprice {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  body .shop__products__productcontainer__productdetails__productprice {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__products__productcontainer__productdetails__productprice {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  body .shop__products__productcontainer__productdetails__productprice {
    margin: 0;
    margin-right: 1.2rem;
  }
}

body .shop__products__productcontainer__productdetails__CTA {
  background-color: #24C347;
  border: none;
  color: #FFF;
  padding: .4rem;
  font-size: .8rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 320px) {
  body .shop__products__productcontainer__productdetails__CTA {
    visibility: visible;
    opacity: 1;
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 750px) {
  body .shop__products__productcontainer__productdetails__CTA {
    padding: .8rem;
  }
}

@media screen and (min-width: 1024px) {
  body .shop__products__productcontainer__productdetails__CTA {
    visibility: hidden;
    opacity: 0;
    padding: .6rem;
  }
}

@media screen and (min-width: 1440px) {
  body .shop__products__productcontainer__productdetails__CTA {
    padding: .4rem;
  }
}

body .shop__products__productcontainer__producttitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}

body .shop__products__productcontainer:hover, body .shop__products__productcontainer:active {
  -webkit-box-shadow: 0 4px 5px rgba(43, 93, 120, 0.149);
  box-shadow: 0 4px 5px rgba(43, 93, 120, 0.149);
}

body .shop__products__productcontainer:hover .shop__products__productcontainer__productdetails__CTA, body .shop__products__productcontainer:active .shop__products__productcontainer__productdetails__CTA {
  visibility: visible;
  opacity: 1;
  font-size: .8rem;
  background: #24C347;
}

body .shop__products__productcontainer:hover .shop__products__productcontainer__productdetails__productprice, body .shop__products__productcontainer:active .shop__products__productcontainer__productdetails__productprice {
  font-size: 1rem;
  font-weight: 550;
  color: #24C347;
}

body #apply {
  color: red;
}

body .noUi-connect,
body .noUi-horizontal .noUi-handle,
body .noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: #24C347;
}

body .noUi-tooltip span {
  font-size: 7.6px;
  top: 8px;
}

body #category {
  display: none;
}

@media screen and (min-width: 320px) {
  body #category {
    display: block;
  }
}

@media screen and (min-width: 750px) {
  body #category {
    display: none;
  }
}

body .productlist {
  width: 100%;
}

body .productlist .shop__products__productwrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  body .productlist .shop__products__productwrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  body .productlist .shop__products__productwrapper {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  body .productlist .shop__products__productwrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

body .productlist .shop__products__productcontainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 95%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  body .productlist .shop__products__productcontainer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  body .productlist .shop__products__productcontainer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  body .productlist .shop__products__productcontainer {
    width: 95%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}

body .productlist .shop__products__productcontainer__img {
  width: 100px;
}

@media screen and (min-width: 320px) {
  body .productlist .shop__products__productcontainer__img {
    width: 50px;
  }
}

@media screen and (min-width: 750px) {
  body .productlist .shop__products__productcontainer__img {
    width: 75px;
  }
}

@media screen and (min-width: 1024px) {
  body .productlist .shop__products__productcontainer__img {
    width: 100px;
  }
}

body .productlist .shop__products__productcontainer__producttitle {
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  body .productlist .shop__products__productcontainer__producttitle {
    font-size: .8rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 750px) {
  body .productlist .shop__products__productcontainer__producttitle {
    font-size: 1rem;
    margin-right: 0;
  }
}

body .productlist .shop__products__productcontainer__productdetails {
  width: 30%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (min-width: 320px) {
  body .productlist .shop__products__productcontainer__productdetails {
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  body .productlist .shop__products__productcontainer__productdetails {
    width: 40%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  body .productlist .shop__products__productcontainer__productdetails {
    width: 30%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

body .productlist .shop__products__productcontainer__productdetails__productprice {
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 320px) {
  body .productlist .shop__products__productcontainer__productdetails__productprice {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 750px) {
  body .productlist .shop__products__productcontainer__productdetails__productprice {
    margin-right: 0;
  }
}

body .productlist .shop__products__productcontainer__productdetails__CTA {
  padding: .8rem 1.2rem;
}

body .productlist .shop__products__productcontainer:hover, body .productlist .shop__products__productcontainer:active {
  -webkit-box-shadow: 0 4px 5px rgba(43, 93, 120, 0.149);
  box-shadow: 0 4px 5px rgba(43, 93, 120, 0.149);
}

body .productlist .shop__products__productcontainer:hover .shop__products__productcontainer__productdetails__CTA, body .productlist .shop__products__productcontainer:active .shop__products__productcontainer__productdetails__CTA {
  visibility: visible;
  opacity: 1;
  font-size: .8rem;
  background: #24C347;
}

body .productlist .shop__products__productcontainer:hover .shop__products__productcontainer__pic, body .productlist .shop__products__productcontainer:active .shop__products__productcontainer__pic {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

body .productlist .shop__products__productcontainer:hover .shop__products__productcontainer__productdetails__productprice, body .productlist .shop__products__productcontainer:active .shop__products__productcontainer__productdetails__productprice {
  font-size: 1rem;
  font-weight: 550;
  color: #24C347;
}

body .active {
  color: #24C347;
}

body .art_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .art_container .shop__sidebar {
  margin-top: 6%;
  margin-right: 1%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  min-width: 25%;
  width: 25%;
  padding: 8px;
}

body .art_container .shop__sidebar .art_input_co {
  height: 3rem;
  margin: .8rem 0 0;
  border-radius: 5em;
  background: rgba(221, 221, 221, 0.21);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

body .art_container .shop__sidebar .shop__sidebar__category {
  padding: 0;
}

body .art_container .shop__sidebar .shop__sidebar__category__header *, body .art_container .shop__sidebar .shop__sidebar__price__titlecontainer__title * {
  font-size: .875rem;
  font-weight: 500;
  padding: 8px 16px;
}

body .art_container .shop__sidebar .art_cart_options {
  margin: 0;
}

body .art_container .shop__sidebar .art_cart_options .art_cart_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 2px;
  padding: 0;
  height: 40px;
}

body .art_container .shop__sidebar .art_cart_options .art_cart_option:hover {
  background-color: #ececec;
}

body .art_container .shop__sidebar .art_cart_options .art_cart_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 0 2px 30px;
  height: 100%;
  width: 100%;
  font-size: .875rem;
  color: #282828;
}

body .art_container .shop {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  margin-top: 1%;
}

body .art_container .shop .shop__products {
  max-width: 100%;
}

body .art_container .shop .shop__products .shop__products__productwrapper {
  margin: 0;
}

body .art_container .shop .shop__products .shop__products__header {
  padding: 2% 0;
}

body .art_container .shop .shop__products .shop__products__productcontainer__pic {
  max-width: 303px;
}
