@import "./media-queries";
// @import "./globals";
@import "./globals-vars";
@import "./mixins.scss";
@import "./_loaders";
html {
    @include mobile {
        font-size: 0.95rem;
    }
    @include laptop {
        font-size: 10pt;
    }
    @include laptop_L {
        font-size: initial;
    }
    @include laptop_W {
        font-size: initial;
    }
}

body {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    background: #f5f5f5;
    margin-top: 0;
    .art_banner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        max-height: 77px;
        min-height: 77px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        img {
            max-width: 100%;
        }
        @include mobile {
            min-height: 0;
            max-width: 0;
            max-height: 0;
            overflow: hidden;
        }
        @include laptop {
            min-height: auto;
            overflow: initial;
            max-width: initial;
            max-height: initial;
        }
        @include laptop_L {
            min-height: 60px;
            overflow: initial;
            max-width: initial;
            max-height: initial;
        }
        @include laptop_W {
            min-height: 77px;
        }
    }
    .art-nav {
        background: #fff;
        -webkit-box-shadow: 0px 1px 2px #c1d2da;
        box-shadow: 0px 1px 2px #c1d2da;
        position: relative;
        .art_nav_dropdown {
            .art_menu_droper {
                min-width: 35vw;
                color: #272727;
                padding: 15px;
                @include mobile {
                    max-width: 0;
                    max-height: 0;
                    padding: 0;
                    min-width: 0;
                    min-height: 0;
                }
                @include tablet {
                    max-width: 0;
                    max-height: 0;
                    padding: 0;
                    min-width: 0;
                    min-height: 0;
                }
                @include laptop {
                    max-width: 40vw;
                    max-height: initial;
                    padding: 30px;
                    min-width: 5vw;
                    min-height: 17vh;
                }
                @include laptop_L {
                    max-width: 35vw;
                }
                @include laptop_W {
                    max-width: 35vw;
                }
                .art_recent_s {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    height: 100%;
                    padding: 0px 0 13px;
                    .art_header {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        position: relative;
                        padding: 2px 10px 6px;
                        &:empty {
                            min-width: 8vw;
                            min-height: 33px;
                            padding: 0px 0;
                            background: #e8e8e8;
                            margin: 0 0 10px;
                            border-radius: 10px;
                            @include loader();
                        }
                        .art_title {
                            font-size: 14px;
                            line-height: 18px;
                            margin: 0;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            color: #1a1a1a;
                            font-weight: 400;
                            * {
                                margin: 0;
                            }
                        }
                        .art_clear {
                            background: hsla(0, 8%, 69%, 0.212);
                            border: 0;
                            font-size: 16px;
                            border-radius: 5em;
                            margin: auto 5px;
                            padding: 3px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            cursor: pointer;
                            em {
                                font-size: inherit;
                            }
                        }
                    }
                    .art_body {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        position: relative;
                        padding: 2px 10px;
                        // min-width: 28vw;
                        .art_search_tag {
                            font-size: 14px;
                            line-height: 23px;
                            font-weight: 700;
                            margin-top: 0;
                            margin-bottom: 0;
                            color: #1a1a1a;
                            line-height: 1.5;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            text-transform: capitalize;
                            white-space: nowrap;
                            margin-right: .65rem;
                            margin-bottom: .25rem;
                            background: #e8e8e8;
                            padding: 8px 20px;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            border-radius: 5em;
                            &:empty {
                                min-width: ( (30vw / 3)- 2);
                                min-height: 46px;
                                @include loader();
                            }
                            &:hover {
                                background: #d3d4d3;
                            }
                            span {
                                &:last-of-type {
                                    color: #9E9E9E;
                                    position: relative;
                                    right: -7px;
                                    top: 0.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .art_nav-right {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            margin-right: auto;
            margin-left: 0;
            min-width: auto;
            @include mobile {
                max-width: 40%;
            }
        }
        .art_nav-center {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: auto;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-flex: 1;
            -ms-flex: auto;
            flex: auto;
            @include mobile {
                max-width: 0;
            }
            @include laptop {
                max-width: 100%;
            }
            #shop_search {
                @include flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                overflow: hidden;
                min-width: 50%;
                @mixin hider {
                    margin: 0;
                    padding: 0;
                    max-width: 0;
                    overflow: hidden;
                }
                @mixin show {
                    margin: 0;
                    padding: 0 20px;
                    max-width: initial;
                    overflow: visible;
                }
                .hider {
                    @include hider();
                    padding: 0 !important;
                }
                .show {
                    @include show();
                }
                .art_input_co {
                    height: 3rem;
                    // background: rgba(221, 221, 221, 0.21);
                    background: hsla(151, 68%, 7%, 0.078);
                    border: 0;
                    border-radius: 5em;
                    label {
                        line-height: 1;
                        padding: 0 10px;
                        -webkit-transition: .3s linear;
                        -o-transition: .3s linear;
                        transition: .3s linear;
                    }
                    .art_input {
                        cursor: initial;
                        ~button {
                            @include hider();
                            -webkit-transition: .3s linear;
                            -o-transition: .3s linear;
                            transition: .3s linear;
                        }
                        &:focus {
                            ~button {
                                @include show();
                            }
                        }
                    }
                    #s_submit {
                        min-width: auto;
                    }
                }
            }
        }
        .art_nav-left {
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
        }
    }
    %flex-container-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    %flex-container-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    %flex-content-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    %flex-content-column {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .art_shop_header {
        width: 100%;
        min-height: 50vh;
        background: rgba(255, 255, 255, 0);
        margin: 2pc 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        @include mobile {
            min-height: 20vh;
            margin: 1pc 0 2pc;
        }
        @include tablet {
            min-height: 28vh;
            margin: 10px 0;
        }
        @include laptop {
            min-height: 28vh;
            margin: 2pc 0;
        }
        @include laptop_L {
            min-height: 42vh;
        }
        @include laptop_W {
            min-height: 50vh;
        }
        .art_promo_co {
            height: 50vh;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin-right: 30px;
            background: rgba(255, 255, 255, 0);
            border-radius: 2px;
            overflow: hidden;
            @include mobile {
                height: auto;
                margin: 0;
                margin-bottom: auto;
            }
            @include tablet {
                height: auto;
                margin-bottom: auto;
            }
            @include laptop {
                height: auto;
                margin-bottom: auto;
                margin-right: 30px;
            }
            @include laptop_L {
                height: 40vh;
                margin-bottom: initial;
            }
            @include laptop_W {
                height: auto;
                margin-bottom: auto;
            }
            img {
                max-width: 100%;
            }
            .art_slides_co {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    // background-color: rgba(15, 24, 36, 0.376);
                    background-color: hsla(124, 63%, 14%, 0.678);
                    z-index: 1;
                }
                .content {
                    position: absolute;
                    z-index: 10;
                    // color: aliceblue;
                    // width: 55%;
                    // padding: 11% 70px;
                    // color: #f2fff5;
                    // width: 59%;
                    // padding: 1% 70px;
                    // top: 26%;
                    // left: 15px;
                    color: #f2fff5;
                    width: 45%;
                    /* padding: 1% 70px; */
                    /* top: 26%; */
                    left: 60px;
                    @include mobile {
                        width: 95%;
                        left: 20px;
                    }
                    @include laptop {
                        width: 45%;
                        left: 60px;
                    }
                    * {
                        // line-height: 1.5;
                        margin: 0;
                    }
                }
            }
            &.slick-initialized {
                position: relative;
                .slick-track {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }
                ul.slick-dots {
                    position: absolute;
                    bottom: 0;
                    display: -webkit-box !important;
                    display: -ms-flexbox !important;
                    display: flex !important;
                    width: 100%;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    li {
                        width: 15px;
                        button {
                            border: 0;
                            padding: 0;
                            border-radius: 5em;
                            background: hsla(133, 70%, 45%, 0);
                            color: hsla(128, 70%, 45%, 0);
                            margin: 0 20px;
                            max-width: 0;
                            max-height: 0;
                            // overflow: hidden;
                            position: relative;
                            &::before {
                                content: "";
                                padding: 5px;
                                margin: 0 0 0 -12px;
                                border-radius: 5em;
                                background: #23c447;
                                color: #23c447;
                                width: 9px;
                                height: 9px;
                                position: absolute;
                                cursor: pointer;
                                // left: -30px;
                            }
                        }
                        &.slick-active {
                            button {
                                &::before {
                                    background: hsla(133, 70%, 45%, 0.418);
                                    color: #23c447;
                                    // width: 30px;
                                }
                            }
                        }
                    }
                }
            }
            @include loader2;
        }
        .art_top_options_co {
            width: 24%;
            background: rgba(255, 255, 255, 0);
            height: 50vh;
            @include mobile {
                width: 0%;
                height: 0;
                max-width: 0;
                overflow: hidden;
            }
            @include laptop {
                width: 31%;
                height: auto;
                max-width: initial;
                overflow: auto;
            }
            @include laptop_L {
                width: 24%;
                height: 42vh;
            }
            @include laptop_W {
                width: 24%;
                height: 50vh;
            }
            .art_top_options {
                background: #ffffff;
                height: 24vh;
                margin: 0 auto 1vh;
                border-radius: 5px;
                -webkit-box-shadow: 0 2px 3px #cad6dc;
                box-shadow: 0 2px 3px #cad6dc;
                padding: 15px 15px 10px;
                .art_btn {
                    word-break: break-all;
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    // -webkit-box-orient: vertical;
                    // -webkit-box-direction: normal;
                    // -ms-flex-direction: column;
                    // flex-direction: column;
                    margin: 0 auto 35px;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    // align-items: flex-start;
                    -webkit-box-pack: stretch;
                    -ms-flex-pack: stretch;
                    justify-content: stretch;
                    padding: 0 5px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    em,
                    i {
                        margin-right: 5px;
                        font-size: 30pt;
                    }
                    .art_desc {
                        width: 100%;
                        text-align: left;
                        color: #2e383e;
                        font-size: 0.95rem;
                    }
                    .def {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }
                    .desc {
                        text-transform: initial;
                        font-size: 11px;
                        color: #ababab;
                        font-weight: 300;
                        text-align: left;
                        margin: 5px 0 0 0;
                    }
                }
                @include mobile {}
                @include tablet {}
                @include laptop {
                    height: 18vh;
                    .art_btn {
                        margin: 0 auto 5px;
                    }
                }
                @include laptop_L {
                    height: 21vh;
                    .art_btn {
                        margin: 0 auto 15px;
                    }
                }
                @include laptop_W {
                    height: 24vh;
                    .art_btn {
                        margin: 0 auto 35px;
                    }
                }
            }
            .art_top_add {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 100%;
                // background: #ffffff;
                @include linearGradient( 236deg, white, #c6ede6); // background: linear-gradient();
                height: 24vh;
                margin: 0 auto 0;
                border-radius: 5px;
                -webkit-box-shadow: 0 2px 3px #cad6dc;
                box-shadow: 0 2px 3px #cad6dc;
                overflow: hidden;
                img {
                    width: 100%;
                }
                @include mobile {
                    height: 10vh;
                }
                @include tablet {
                    height: 10vh;
                }
                @include laptop {
                    height: 10vh;
                }
                @include laptop_L {
                    height: 20vh;
                }
                @include laptop_W {
                    height: 24vh;
                }
            }
        }
    }
    .art_services_based {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 7vh;
        background: transparent;
        border-radius: 5px;
        /* box-shadow: 0 1px 2px #cad6dc61; */
        @include mobile {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            &:last-of-type {
                margin-right: 6px;
            }
        }
        @include laptop {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            min-height: 5vh;
        }
        @include laptop_W {
            min-height: 7vh;
        }
        .art_service_card {
            width: (100% / 4);
            min-height: 6vh;
            max-height: 6vh;
            height: auto;
            background: white;
            color: #251d33;
            margin: 6px 10px 6px 0;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px #cad6dc61;
            box-shadow: 0 1px 2px #cad6dc61;
            // display: -webkit-box;
            // display: -ms-flexbox;
            // display: flex;
            display: inherit;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 10px;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            &:last-of-type {
                margin-right: 0;
            }
            @include mobile {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                width: ((100% / 2)- 3);
                margin: 0 3px 15px;
                max-height: initial;
                min-height: auto;
                &:last-of-type {
                    margin: 0 3px 15px;
                }
            }
            @include laptop {
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                width: (100% / 4);
                min-height: 4vh;
                max-height: 5vh;
                margin: 0 3px;
                &:last-of-type {
                    margin: 0 3px;
                    margin-right: 0;
                }
            }
            .art_serv_icon {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 25%;
                @include mobile {
                    // width: 30%;
                    width: 35px;
                    max-height: 35px;
                }
                @include tablet {
                    width: 55px;
                    max-height: 55px;
                }
                @include laptop {
                    width: 35px;
                    max-height: 35px;
                }
                @include laptop_L {
                    // width: 23%;
                    width: 55px;
                    max-height: 55px;
                }
                @include laptop_W {
                    // width: 20%;
                    width: 70px;
                    max-height: 70px;
                    // max-height: 90px;
                }
                img {
                    max-width: 100%;
                }
            }
            .art_serv_title {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                padding: 0 20px;
                @include mobile {
                    padding: 0 7px;
                    width: 70%;
                    display: inline-block;
                }
                @include tablet {
                    padding: 0 20px;
                }
                @include laptop {
                    padding: 0 10px;
                }
                @include laptop_L {
                    padding: 0 20px;
                }
                * {
                    margin: 0;
                    @include mobile {
                        font-size: 0.7815rem;
                    }
                    @include laptop {
                        font-size: 0.89rem;
                    }
                    @include laptop_W {
                        font-size: 1.15rem;
                    }
                }
            }
            @include loader2;
        }
    }
    .art_based_card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 7vh;
        background: white;
        border-radius: 5px;
        padding: 0 10px 10px;
        margin: 2pc 0;
        .art_header {
            width: 100%;
            margin-bottom: auto;
        }
        .art_body {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            min-height: 25vh;
            @include mobile {
                // padding: 10px 20px;
                padding: 10px 0;
            }
            @include laptop {
                padding: 0px;
            }
            .art_prod_card {
                width: ((100%/4) - 1%);
                background: rgb(255, 255, 255);
                margin: 0 1% 15px;
                border-radius: 5px;
                -webkit-transition: .2s cubic-bezier(0.4, 0, 1, 1);
                -o-transition: .2s cubic-bezier(0.4, 0, 1, 1);
                transition: .2s cubic-bezier(0.4, 0, 1, 1);
                min-height: 25vh;
                &:hover {
                    -webkit-box-shadow: 0 0px 20px hsla(198, 9%, 29%, 0.141);
                    box-shadow: 0 0px 20px hsla(198, 9%, 29%, 0.141);
                    -webkit-transform: scale(1.025);
                    -ms-transform: scale(1.025);
                    transform: scale(1.025);
                }
                @include mobile {
                    width: ((100% / 2) - 2%);
                    // -webkit-box-shadow: 0 0px 20px hsla(196, 25%, 80%, 0.141);
                    // box-shadow: 0 0px 20px hsla(196, 25%, 80%, 0.141); 
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    padding: 20px 0 0;
                    // margin: 14px auto;
                    margin: 3px 1%;
                    &:hover {
                        -webkit-transform: scale(1);
                        -ms-transform: scale(1);
                        transform: scale(1);
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
                @include tablet {
                    width: ((100%/3) - 2.5%);
                    margin: 1.2%;
                }
                @include laptop {
                    width: ((100%/3) - 2%);
                    margin: 15px 1%;
                    padding: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    &:hover {
                        -webkit-box-shadow: 0 0px 20px hsla(198, 9%, 29%, 0.141);
                        box-shadow: 0 0px 20px hsla(198, 9%, 29%, 0.141);
                        -webkit-transform: scale(1.025);
                        -ms-transform: scale(1.025);
                        transform: scale(1.025);
                    }
                }
                @include laptop {
                    width: ((100%/4) - 2%);
                    margin: 15px 1%;
                    padding: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
                &:empty {
                    background: whitesmoke;
                    width: ((100%/2) - 2%);
                    @include mobile {
                        width: (100%/1);
                        margin: 0 0;
                    }
                    @include tablet {
                        width: ((100%/2) - 2%);
                    }
                    @include laptop {
                        width: ((100%/2) - 2%);
                    }
                }
                @include loader;
            }
        }
    }
    .art_post_based {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: auto;
        background: white;
        border-radius: 5px;
        padding: 10px 10px;
        margin: 2pc 0;
        .art_body {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            min-height: auto;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            .art_post_card {
                width: ((100%/2) - 1%);
                background: rgba(245, 245, 245, 0);
                margin: 0 0;
                border-radius: 5px;
                -webkit-transition: .2s cubic-bezier(0.4, 0, 1, 1);
                -o-transition: .2s cubic-bezier(0.4, 0, 1, 1);
                transition: .2s cubic-bezier(0.4, 0, 1, 1);
                min-height: auto;
                // display: -webkit-box;
                // display: -ms-flexbox;
                // display: flex;
                @include mobile {
                    width: (100%/1);
                }
                @include laptop {
                    width: ((100%/2) - 1%);
                }
                &:hover {
                    -webkit-box-shadow: 0 0px 20px hsla(198, 9%, 29%, 0.141);
                    box-shadow: 0 0px 20px hsla(198, 9%, 29%, 0.141);
                    -webkit-transform: scale(1.025);
                    -ms-transform: scale(1.025);
                    transform: scale(1.025);
                }
                // a {
                // display: -webkit-box;
                // display: -ms-flexbox;
                // display: flex;
                // }
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .shop__products__productcontainer {
        // width: (100% / 3);
        border-radius: 8px;
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
        margin-bottom: auto;
        @include mobile {
            width: (100% / 1);
        }
        // @include tablet {
        //     width: (100% / 2);
        // }
        // @include laptop {
        //     width: (100% / 3);
        // }
        a {
            color: #1a1a1a;
            width: 100%;
        }
        // &:hover {
        //     color: #1a1a1a;
        //     -webkit-box-shadow: 0px 6px 7px 0 hsla(150, 31%, 50%, 0.129);
        //     box-shadow: 0px 6px 7px 0 hsla(150, 31%, 50%, 0.129);
        //     z-index: 1;
        //     transform: scale(1.01);
        //     -webkit-transform: scale(1.01);
        //     -moz-transform: scale(1.01);
        //     -ms-transform: scale(1.01);
        //     -o-transform: scale(1.01);
        //     z-index: 1;
        //     .product_footer {
        //         opacity: 1;
        //         visibility: visible;
        //         -webkit-user-select: initial;
        //         -moz-user-select: initial;
        //         -ms-user-select: initial;
        //         user-select: initial;
        //     }
        // }
        .shop__products__productcontainer__img {
            text-align: center;
            position: relative;
            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(43, 95, 95, 0.315);
                z-index: 2;
            }
            img {
                max-width: 230px;
                margin: 0 auto;
                @include mobile {
                    // max-width: 230px;
                    max-width: 155px;
                }
                @include laptop {
                    max-width: 190px;
                }
            }
        }
        .product_details {
            padding: 10px;
            .title {
                display: block;
                font-size: 1.2rem;
                @include mobile {
                    font-size: 0.99rem;
                }
                @include laptop {
                    font-size: 1.2rem;
                }
            }
            .art_product_price {
                font-weight: 540;
                font-size: .75rem;
                color: black;
                margin: 5px 0 0;
                display: block;
            }
        }
        .product_footer {
            width: 100%;
            padding: 10px 5px;
            opacity: 0;
            visibility: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: 0.1s linear;
            -webkit-transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -ms-transition: 0.1s linear;
            -o-transition: 0.1s linear;
            .art_btn {
                width: 100%;
                margin: 0;
            }
            @include mobile {
                opacity: 1;
                visibility: visible;
                -webkit-user-select: initial;
                -moz-user-select: initial;
                -ms-user-select: initial;
                user-select: initial;
            }
            @include laptop {
                opacity: 0;
                visibility: hidden;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .art_cart_actions {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                .art_btn {
                    width: auto;
                    margin: 0;
                    border-radius: 5em;
                    min-width: 45px;
                    min-height: 45px;
                    padding: 15px;
                }
                .art_qty_display {
                    /* padding: 25px; */
                    background: #eaf1ed;
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    margin: 0 10px;
                    border-radius: 4px;
                    text-align: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    padding: 0 10px;
                    font-size: 20pt;
                    border: 0;
                    -moz-appearance: textfield;
                    min-height: 55px;
                    max-height: initial;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
            .art_checkout_co {
                margin-top: 10px;
            }
        }
        .product_desc_details {
            color: #9a9a9a;
            font-size: 9pt;
        }
    }
    .art_others {
        &.fixed {
            position: fixed;
            padding: 20px;
            background-color: #ffffff;
            width: 61.1%;
            top: 0;
            margin: 0 -13px;
            z-index: 1;
            -webkit-box-shadow: 0 2px 2px hsla(0, 0%, 82%, 0.431);
                    box-shadow: 0 2px 2px hsla(0, 0%, 82%, 0.431);
        }
    }
}