@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@1000&display=swap");
body {
  margin: 0;
  padding: 0;
}

body .art_stylish {
  position: absolute;
  left: 0px;
  bottom: -2px;
  right: 0px;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='128' viewBox='0 0 1440 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='header-wave' fill='%23FFF' d='M0,471 L1440,471 L1440,386.338583 C1331.33333,357.446194 1239,343 1163,343 C821.995497,343 821.995497,463.944882 426,463.944882 C262.447846,463.944882 120.447846,438.076115 0,386.338583 L0,471 Z' transform='translate(0 -343)'/%3E%3C/svg%3E");
  background-size: 101%;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 0;
  height: 25%;
  -webkit-filter: drop-shadow(0 -6px 4px #e8f2fb);
  filter: drop-shadow(0 -6px 4px #e8f2fb);
  height: 30%;
}

body .art_action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* padding: 11px 30px; */
}

body .art_gree_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 30px;
  margin: auto 5% 10px 0;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: transparent;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  color: #24c447;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0 0 0 1px #24c347;
  box-shadow: 0 0 0 1px #24c347;
}

body .art_gree_btn.filled {
  background-color: #24C447;
  color: white;
}

body .art_matrix {
  -webkit-box-shadow: 0px 0px 0px 1px #d8e1ea4f;
  box-shadow: 0px 0px 0px 1px #d8e1ea4f;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 83%;
  height: 86%;
  border-radius: 20px;
  padding: 40px;
  top: 25px;
  transform: matrix(1, 0, -0.2, 1, 0, 0);
  -webkit-transform: matrix(1, 0, -0.2, 1, 0, 0);
  -moz-transform: matrix(1, 0, -0.2, 1, 0, 0);
  -ms-transform: matrix(1, 0, -0.2, 1, 0, 0);
  -o-transform: matrix(1, 0, -0.2, 1, 0, 0);
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

body .art-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  background: rgba(255, 255, 255, 0.23);
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 10;
  -webkit-box-shadow: 0px 1px 2px #c1d2da;
  box-shadow: 0px 1px 2px #c1d2da;
}

body .art-nav .art_nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 45%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .art-nav .art_nav-right .art-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
}

body .art-nav .art_nav-right .art-brand img {
  width: auto;
  padding: 0;
  margin: 0;
  min-width: auto;
}

body .art-nav .art_nav-right .art-top-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

body .art-nav .art_nav-right .art-top-links li {
  display: inherit;
  width: auto;
}

body .art-nav .art_nav-right .art-top-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #656565;
}

body .art-nav .art_nav-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-right: 60px;
}

body .art-nav .art_nav-left #head_search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 0;
  overflow: hidden;
}

body .art-nav .art_nav-left #head_search_form .art_input_co {
  height: auto;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.859);
  margin: auto;
  border-radius: 4em 4em;
}

body .art-nav .art_nav-left #head_search_form .art_input_co .art_under_search {
  background: transparent;
  border: 0;
  color: #d2d2d2;
  padding: 1px 6px;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

body .art-nav .art_nav-left #head_search_form .art_input_co .art_input {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: auto;
  border-bottom: 0;
}

body .art-nav .art_nav-left #head_search_form .art_input_co .art_submit_search {
  background: transparent;
  border: 0;
  opacity: 0;
  visibility: hidden;
}

body .art-nav .art_nav-left .art_btn {
  border: 0;
  background: rgba(0, 245, 0, 0);
  color: #707070;
  text-align: center;
  margin: 0 15px;
  cursor: pointer;
}

body .art-nav .art_nav-left .art_btn i,
body .art-nav .art_nav-left .art_btn em {
  line-height: 47px;
  font-size: 30pt;
}

body .art-nav .art_nav-left .dropdown-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .art-nav .art_nav-left .dropdown-trigger i {
  line-height: inherit;
  font-size: 21pt;
  margin: auto;
  height: auto;
}

body .art-nav .dropdown-content {
  top: 101% !important;
  width: auto !important;
  height: auto !important;
  -webkit-box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
  box-shadow: 0 2px 10px rgba(96, 125, 139, 0.42);
  border-radius: 0 0 10px 10px;
  border: 0;
}

body .art-nav .dropdown-content a {
  color: #607D8B;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

body .art-nav .dropdown-content a:hover {
  background-color: #009b4e;
  color: aliceblue;
}

body .art-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  min-height: 75vh;
  background: rgba(197, 232, 197, 0.098);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 80%;
  position: relative;
  padding: 0;
  margin-top: 4pc;
}

body .art-header .art-slides_co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .art-header .art-slides_co .art-head-sec {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 8pc 0;
}

body .art-header .art-slides_co .art-head-sec .art_head_title {
  width: 100%;
  margin: 10px auto 0 60px;
}

body .art-header .art-slides_co .art-head-sec .art_head_desc {
  width: 45%;
  padding: 5px 0 0 75px;
}

body .art-header .art-slides_co .art-head-sec .art_head_act {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body .art-header .art-head-social {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  /* -webkit-box-pack: justify; */
  /* justify-content: space-between; */
  position: absolute;
  top: 40px;
  right: 4%;
  padding: 10px 2px;
  border-radius: 18px;
  /* box-shadow: -1px 0px 0px 1px #607d8b0f;*/
}

body .art-header .art-head-social .art-social-icon {
  margin: auto auto 10px;
  cursor: pointer;
  width: auto;
  background-color: transparent;
  padding: 0px;
  border-radius: 5em;
  max-width: 65px;
  max-height: 65px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 0px rgba(96, 125, 139, 0.212);
  box-shadow: 0 2px 0px rgba(96, 125, 139, 0.212);
}

body .art-header .art-head-social .art-social-icon img {
  width: 100%;
}

body .art_head_bottom_cards {
  width: 100%;
  height: auto;
  margin: 2pc auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
}

body .art_head_bottom_cards .art_head_bottom_card {
  width: 20%;
  min-height: 29vh;
  margin: 0 30px 0 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 -2px 2px rgba(96, 125, 139, 0.071), 0 2px 2px rgba(96, 125, 139, 0.31);
  box-shadow: 0 -2px 2px rgba(96, 125, 139, 0.071), 0 2px 2px rgba(96, 125, 139, 0.31);
  border-radius: 10px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-shadow: 0 0 12px #d8e1ea;
  box-shadow: 0 0 12px #d8e1ea;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

body .art_head_bottom_cards .art_head_bottom_card:hover {
  -webkit-box-shadow: 0px 1px 2px rgba(216, 225, 234, 0.404), -10px -5px 16px rgba(216, 225, 234, 0.24);
  box-shadow: 0px 1px 2px rgba(216, 225, 234, 0.404), -10px -5px 16px rgba(216, 225, 234, 0.24);
  transform: matrix(1, -0.031, 0, 1, 3, 9);
  -webkit-transform: matrix(1, -0.031, 0, 1, 3, 9);
  -moz-transform: matrix(1, -0.031, 0, 1, 3, 9);
  -ms-transform: matrix(1, -0.031, 0, 1, 3, 9);
  -o-transform: matrix(1, -0.031, 0, 1, 3, 9);
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header .art_card_header_icon {
  width: 5%;
  height: 5%;
  padding: 24px;
  margin-right: 5%;
  background-color: #607D8B;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5em;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header .art_card_header_icon#bars1 {
  background-image: url(../img/home/icons8-bar-chart-64-1.png);
  background-color: transparent;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header .art_card_header_icon#bars2 {
  background-image: url(../img/home/icons8-bar-chart-3d-64-1.png);
  background-color: transparent;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header .art_card_header_icon#bars3 {
  background-image: url(../img/home/icons8-rental-house-contract-64-1.png);
  background-color: transparent;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header .art_card_header_dot {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
  background-color: #5EE0E9;
  border-radius: 5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header #bars1 ~ .art_card_header_dot {
  background-color: #f26101;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header #bars2 ~ .art_card_header_dot {
  background-color: #5EE0E9;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_header #bars3 ~ .art_card_header_dot {
  background-color: #efc849;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_body {
  max-height: 245px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 100%;
  overflow: hidden;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_footer {
  margin: auto 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_footer .art_card_footer_dash {
  width: 50%;
  background: #ebeeef;
  height: 1px;
  margin: auto auto 0 0;
  border-radius: 5em;
  overflow: hidden;
}

body .art_head_bottom_cards .art_head_bottom_card .art_card_footer .art_card_footer_link {
  font-weight: 600;
}

body .art-section-top .art_ur_numbers {
  width: 100%;
  min-height: 65vh;
  margin: 2pc auto -7pc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  /* border-bottom: 1px solid #dde7ef; */
  padding: 50px 7% 17%;
  overflow: hidden;
  position: relative;
}

body .art-section-top .art_ur_numbers .art_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

body .art-section-top .art_ur_numbers .art_middle h6.art_title {
  color: #838383;
  font-size: 0.8rem;
  font-weight: 600;
}

body .art-section-top .art_ur_numbers .art_middle h4.art_title {
  color: #24C347;
  font-weight: 600;
  margin-top: 0;
}

body .art-section-top .art_ur_numbers .art_middle .art_our_number_circle_main {
  width: 100%;
  min-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3em 0;
  padding-bottom: 3em;
}

body .art-section-top .art_ur_numbers .art_middle .art_our_number_circle_main .art_our_number_circle {
  background-color: #E8F2FB;
  padding: 10px;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

body .art-section-top .art_ur_numbers .art_middle .art_our_number_circle_main .art_our_number_circle_conter {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

body .art-section-top .art_ur_numbers .art_middle .art_our_number_circle_main .art_our_number_circle_conter .art_circle_wrap {
  text-align: center;
  width: 100%;
}

body .art-section-top .art_ur_numbers .art_middle .art_our_number_circle_main .art_our_number_circle_conter .art_counter_co {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 .912rem 0;
  font-weight: 400;
}

body .art-section-top .art_ur_numbers .art_matrix {
  width: 83%;
  height: 60%;
  padding: 40px;
  z-index: 0;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

body .art-section-top .art_ur_numbers .art_stylish {
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
  filter: drop-shadow(0 -6px 4px #e8f2fb);
  -webkit-filter: drop-shadow(0 -6px 4px #e8f2fb);
}

body .art-section-top .art_build_your_store {
  width: 100%;
  min-height: 65vh;
  margin: auto;
  position: relative;
  padding: 50px 7%;
}

body .art-section-top .art_build_your_store .art_md_half_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body .art-section-top .art_build_your_store .art_md_half_container .art_md_half {
  width: 50%;
  height: 538px;
}

body .art-section-top .art_build_your_store .art_md_half_container .art_md_half.art_half_img {
  background: url(../img/home/rec-1.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: center;
}

body .art-section-top .art_build_your_store .art_md_half_container .art_md_half.art_half_content {
  height: auto;
  margin: auto;
}

body .art-section-top .art_build_your_store .art_md_half_container .art_md_half.art_half_content .art_title {
  color: #24C347;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 82px 10px 22px;
  border-radius: 0.51rem;
  margin-left: -1.5rem;
}

body .art-section-top .art_build_your_store .art_md_half_container .art_md_half.art_half_content .art_desc {
  width: 80%;
}

body .art-section-top .art_build_your_store .art_md_half_container .art_md_half.art_half_content .art_desc p {
  margin: 0;
}

body .art-section-top .art_build_your_store .art_md_half_container .art_md_half.art_half_content .art_action {
  margin: 20px 0;
}

body .art-section-top .art_build_your_store .art_stylish {
  -webkit-filter: drop-shadow(0 -6px 4px #e8f2fb);
  filter: drop-shadow(0 -6px 4px #e8f2fb);
}

body .art-section-top .art_how_we_operate {
  width: 100%;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 7% 12%;
  margin: auto;
  position: relative;
}

body .art-section-top .art_how_we_operate .art_we_operate_desc {
  width: 48%;
  margin: 0 auto;
}

body .art-section-top .art_how_we_operate .art_we_operate_desc .art_we_operate_desc_title {
  color: #24C347;
  font-weight: 600;
  /* border-bottom: 1px solid #dde7ef; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 82px 10px 22px;
  border-radius: 0.51rem;
  /* background-color: #fefefe; */
  margin-left: -1.5rem;
}

body .art-section-top .art_how_we_operate .art_we_operate_desc .art_we_operate_desc_text {
  /* width: 80%; */
  margin: 0 0 0 10px;
}

body .art-section-top .art_how_we_operate .art_we_operate_content {
  width: 40%;
  margin: auto auto;
  overflow: hidden;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.149);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.149);
}

body .art-section-top .art_how_we_operate .art_we_operate_content .art_we_operate_content_video {
  width: 100%;
}

body .art-section-top .art_how_we_operate .art_stylish {
  /*-webkit-filter: drop-shadow(-5px -9px 5px rgba(96, 125, 139, 0.102));
                filter: drop-shadow(-5px -9px 5px rgba(96, 125, 139, 0.102));
                */
  filter: drop-shadow(0 -6px 4px #e8f2fb);
  -webkit-filter: drop-shadow(0 -6px 4px #e8f2fb);
  transform: matrix(1, 0, 0, -1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -moz-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  -o-transform: matrix(1, 0, 0, -1, 0, 0);
}

body .art-section-top .art_our_services {
  width: 100%;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 7% 7%;
  margin: auto;
  position: relative;
}

body .art-section-top .art_our_services .art_our_services_desc {
  width: 100%;
  text-align: center;
}

body .art-section-top .art_our_services .art_our_services_desc .art_our_services_desc_title {
  color: #24C347;
  font-weight: 600;
  width: -moz-fit-content;
  padding: 10px 82px 10px 22px;
  border-radius: 0.51rem;
}

body .art-section-top .art_our_services .art_our_services_cards_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1pc auto 5pc;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card {
  width: 15%;
  height: 220px;
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 4px #d8e1ea;
  box-shadow: 0px 2px 4px #d8e1ea;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card:hover {
  -webkit-box-shadow: 0px 1px 2px rgba(216, 225, 234, 0.404), -10px -5px 16px rgba(216, 225, 234, 0.24);
  box-shadow: 0px 1px 2px rgba(216, 225, 234, 0.404), -10px -5px 16px rgba(216, 225, 234, 0.24);
  transform: matrix(1, 0.1, 0, 1, 3, 9);
  -webkit-transform: matrix(1, 0.1, 0, 1, 3, 9);
  -moz-transform: matrix(1, 0.1, 0, 1, 3, 9);
  -ms-transform: matrix(1, 0.1, 0, 1, 3, 9);
  -o-transform: matrix(1, 0.1, 0, 1, 3, 9);
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card .art_our_services_card_header {
  width: 100%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card .art_our_services_card_header .art_our_services_card_header_title {
  font-size: 1.28rem;
  width: 100%;
  text-align: center;
  color: rgba(6, 10, 37, 0.871);
  font-weight: 300;
  margin-bottom: 0;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card .art_our_services_card_header img {
  width: 27%;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card .art_our_services_card_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card .art_our_services_card_footer .art_icon_btn {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  line-height: initial;
  font-size: 24pt;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_our_services_card .art_our_services_card_footer .art_icon_btn i {
  font-size: inherit;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_service_view_more_co {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4pc 0 0;
}

body .art-section-top .art_our_services .art_our_services_cards_container .art_service_view_more_co .art_gree_btn {
  padding: 0 100px;
}

body .art-section-top .art_our_services::before {
  content: "";
  width: 20%;
  height: 65%;
  position: absolute;
  background: url(./../img/barrs-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  right: 0;
  top: -113px;
}

body .art-section-top .art_our_services::after {
  content: "";
  width: 20%;
  height: 65%;
  position: absolute;
  background: url(./../img/barrs.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  left: 0;
  bottom: 70px;
}

body .art-section-top .art_our_services .art_stylish {
  -webkit-filter: drop-shadow(0 -6px 4px #e8f2fb);
  filter: drop-shadow(0 -6px 4px #e8f2fb);
}

body .art-section-top .art_our_products {
  width: 100%;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 7% 20pc;
  margin: auto;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .art-section-top .art_our_products .art_our_products_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 19%;
  padding: 10px;
  color: inherit;
  cursor: pointer;
  margin: 0 10px 10px;
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 398px;
  border: solid 1px #d8e1ea;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_card .art_product_img {
  width: 100%;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_card.art_prod_brand .art_product_img {
  -webkit-filter: drop-shadow(-4px 2px 0 #e8f2fb);
  filter: drop-shadow(-4px 2px 0 #e8f2fb);
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_card.art_prod_brand::before {
  content: "";
  position: absolute;
  padding: 2pc;
  background: rgba(250, 250, 250, 0);
  z-index: -1;
  bottom: 14px;
  right: 47px;
  border-radius: 5em;
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_card.art_prod_brand::after {
  content: "";
  position: absolute;
  padding: 12pc;
  background: #3c3c3c;
  z-index: -1;
  top: -14px;
  left: -25px;
  border-radius: 1em 14em 14em 14em;
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_desc_co {
  /* border-top: solid 1px #d8e1ea73; */
  /* box-shadow: 0px -3px 5px #607d8b12; */
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_desc_co .art_prod_title * {
  text-transform: uppercase;
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co .art_product_desc_co .art_prod_desc_text {
  width: 100%;
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co:hover .art_product_card {
  border-color: transparent;
  -webkit-box-shadow: 0px 1px 2px rgba(216, 225, 234, 0.4), -10px -5px 16px rgba(216, 225, 234, 0.239);
  box-shadow: 0px 1px 2px rgba(216, 225, 234, 0.4), -10px -5px 16px rgba(216, 225, 234, 0.239);
  transform: matrix(1, -0.05, 0, 1, 3, 9);
  -webkit-transform: matrix(1, -0.05, 0, 1, 3, 9);
  -moz-transform: matrix(1, -0.05, 0, 1, 3, 9);
  -ms-transform: matrix(1, -0.05, 0, 1, 3, 9);
  -o-transform: matrix(1, -0.05, 0, 1, 3, 9);
}

body .art-section-top .art_our_products .art_our_products_container .art_product_card_co:hover .art_product_card .art_product_img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

body .art-section-top .art_our_products .art_product_view_more_co {
  width: 100%;
  padding: 35px 0px 4pc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .art-section-top .art_our_products .art_product_view_more_co .art_gree_btn {
  padding: 0 100px;
}

body .art-section-top .art_our_products .art_stylish {
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
  filter: drop-shadow(0 -6px 4px #e8f2fb);
  -webkit-filter: drop-shadow(0 -6px 4px #e8f2fb);
  height: 18%;
}

body .art_card_footer_link {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-width: 35%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  color: #066FFD;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

body .art_icon_arrow_right {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

body .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 88vh;
}

body .carousel .carousel-item {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

body .carousel .carousel-item img {
  width: auto;
  height: 100%;
  -webkit-box-shadow: -1px 2px 5px rgba(33, 26, 28, 0.431);
  box-shadow: -1px 2px 5px rgba(33, 26, 28, 0.431);
  border-radius: 1em;
}

/* @media screen and (min-width:1440px) {
        body {
            .art-header {
                .art-slides_co {
                    .art-head-sec {
                        .art_head_desc {
                            width: 90%;
                            padding: 5px 0 0 75px;
                        }
                    }
                }
            }
            .art_head_bottom_cards {
                .art_head_bottom_card {
                    width: 28%;
                }
            }
            .art-section-top {
                .art_ur_numbers {
                    padding: 50px 1% 17%;
                    .art_middle {
                        .art_our_number_circle_main {
                            width: 82%;
                        }
                    }
                }
                .art_build_your_store {
                    padding: 50px 5%;
                }
                .art_how_we_operate {
                    padding: 50px 5% 12%;
                }
                .art_our_services {
                    padding: 0px 5% 7%;
                    &::before {
                        width: 33%;
                        top: -140px;
                    }
                    &::after {
                        width: 35%;
                        bottom: 6px;
                    }
                    .art_our_services_cards_container {
                        .art_our_services_card {
                            width: 25%;
                        }
                    }
                }
                .art_our_products {
                    padding: 0px 5% 20pc;
                    .art_our_products_container {
                        .art_product_card_co {
                            width: 23%;
                            .art_product_card {
                                max-height: 276px;
                            }
                        }
                    }
                }
            }
        }
    } */
