
<div id="customeditor" class="customeditor">

    <div class="titlecontainer" id="titlecontainer">
        <input placeholder="Time To Write!" type="text"  name="titleinput" class="titleinput" id="titleinput">
    </div>
    
</div>