<%- include("./headnav.ejs") %>

    <section class="dashboard">

        <div class="dashboard__content" id="orderswrapper">
            <a href="/admin/settings" class="backbtn" id="backtbn"><i class="fas fa-long-arrow-alt-left"></i></a>
            <div class="dashboard__content__container">
                <div class="dashboard__content__container__header">
                    <h4 class="dashboard__content__container__header__title">Users List</h4>
                </div>

                <div class="dashboard__content__container__body">

                    <div class="dashboard__content__container__body__header">

                        <h6 class="dashboard__content__container__body__header__title">Users</h6>

                        <div class="dashboard__content__container__body__header__sortwrapper" id="exportcsv">
                            <a class="dashboard__content__container__body__header__sort" href="#!"> Export as CSV<span></span><i class="fas fa-file-download"></i></a>
                        </div>

                    </div>


                    <div class="dashboard__content__container__body__table">
                        <div class="table" id="userwrapper">
                            <div class="table__heading">
                                <div class="table_cell">
                                    <span>Customer ID</span>
                                </div>
                                <div class="table_cell">
                                    <span>Role</span>
                                </div>
                                <div class="table_cell" id="status-heading">
                                    <span>Registered Date</span>
                                </div>
                                <div class="table_cell">
                                    <span>Action</span>
                                </div>
                            </div>







                        </div>
                    </div>


                </div>

            </div>

    </section>
    <section class="customerdetails" id="userboard">
        <p>hello there</p>
    </section>